.tmCJT {
    display: inline-block;
}

.tmCJT-navBack {
    display: inline-block;
    height: 60px;
    width: 20px;
    font-size: 35px;
    vertical-align: bottom;
    text-align: left;
    transform: translateY(15px);
}

.tmCJT-navBack:hover {
    color: tomato;
    cursor: pointer;
}

.tmCJT-navBack.tmCJT-navBack-hide .sapUiIcon {
    display: none;
}

.tmCJT-navForward {
    display: inline-block;
    height: 60px;
    width: 20px;
    font-size: 35px;
    vertical-align: bottom;
    text-align: right;
    transform: translateY(15px);
}

.tmCJT-navForward:hover {
    color: tomato;
    cursor: pointer;
}

.tmCJT-navForward.tmCJT-navForward-hide .sapUiIcon {
    display: none;
}

.tmCJT-channelContainer {
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.tmCJTChannel {
    display: inline-block;
    position: relative;
}

.tmCJTChannel .tmCJTChannel-emblem {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 60px;
}

.tmCJTChannel.tmCJTChannel-selected .tmCJTChannel-emblem {
    color: hotpink;
}

.tmCJTChannel .tmCJTChannel-emblem:hover {
    color: gold;
}

.tmCJTChannel .tmCJTChannel-emblem .tmCJTChannel-topLabel {
    display: block;
    width: 100%;
    height: 20px;
    font-size: 10pt;
    vertical-align: middle;
    text-align: center;
}

.tmCJTChannel .tmCJTChannel-emblem .tmCJTChannel-icon {
    display: block;
    font-size: 35px;
    text-align: center;
}

.tmCJTChannel .tmCJTChannel-emblem .tmCJTChannel-icon:hover {
    cursor: pointer;
}

.tmCJTChannel .tmCJTChannel-line {
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: black;
    transform: translateY(-15px);
}

.tmCJTChannel:first-child .tmCJTChannel-line-left {
    display: none;
}

.tmCJTChannel:last-child .tmCJTChannel-line-right {
    display: none;
}

.tmCJTChannel .tmCJTChannel-divider {
    display: inline-block;
    width: 1px;
    height: 35px;
    background-color: black;
    margin: 0 5px;
}
