.tmCJT {
    display: inline-block;
    position: relative;
    width: 384px;
}

.tmCJT-navBack {
    display: inline-block;
}

.tmCJT-navForward {
    display: inline-block;
}

.tmCJT-channelContainer {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.tmCJTChannel {
    display: inline-block;
}

.tmCJTChannel-icon {
    font-size: 40pt;
}
