.nrgIcon-agent {
    fill: grey;
    height: 50px;
    width: 50px;
}

.nrgColor-blue {
    fill: deepskyblue;
    height: 100px;
    width: 100px;
}

.nrgColor-pink {
    fill: deeppink;
    height: 150px;
    width: 150px;
}
