.uteBadge {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    color: @uteColorBluePearl;
    text-align: center;
    font: @uteFontWeightRegular 0.75rem @uteFontFamily;
    margin: 2px;
}

.uteBadgeAlert {
    background-color: @uteColorRedAlert;
}

.uteBadgeAttention {
    background-color: @uteColorOrangeAttention;
}

.uteBadgeRegular {
    background-color: @uteColorGreenHighlight;
}