.uteBadge {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    color: @uteColorBluePearl;
    text-align: center;
    font: @uteFontWeightRegular 0.75rem @uteFontFamily;
    margin: 2px;

    & .uteBadge-alert {
        background-color: @uteColorRedAlert;
    }

    & .uteBadge-attention {
        background-color: @uteColorRedAlert;
    }

    & .uteBadge-regular {
        background-color: @uteColorRedAlert;
    }
}
