.uteButton {
    margin: 2px;

    & > .uteButton-general{
        border-radius: 3px;
        border: none;
        font-family: @uteFontFamily;
        font-weight: @uteFontWeight-regular;
        font-size: @uteFontSize-base;
        padding-left: 33px;
        padding-right: 33px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    & > .uteButton-save {
        color: @uteColor-white;
        background-color: @uteColor-blueLink;
    }

    & > .uteButton-save:hover{
        color: @uteColor-white;
        background-color: @uteColor-lightBlue;
    }

    & > .uteButton-cancel {
    }

    & > .uteButton-cancel:hover {
    }

    & > .uteButton-info {
        color: @uteColor-white;
        background-color: @uteColor-greenHighlight;
    }

    & > .uteButton-info:hover {
        color: @uteColor-white;
        background-color: @uteColor-lightBlue;
    }
}

/**

.uteUiBtn3{
    color:@uteColorBlueLink;
    background-color: @uteColorBluePearl ;;
    padding-left: 120px;
    padding-right: 120px;
}

.uteUiBtn3:hover{
    color:@uteColorWhite;
    background-color: @uteColorLightBlue;
}

.uteUiBtn4{
    background-color: transparent;
    outline: initial;
}

.uteUiBtn4Icon{
    fill: @uteColor-blueLink;
}

.uteUiBtn4Icon:hover{
    fill:@uteColor-lightBlue;
}

.uteUiBtnInact{
    background-color: @uteColorBluePearl;
}
.uteUiBtnInact:hover{
    background-color: @uteColorBluePearl;
}
**/
