.uteUiBtns{
    margin:2px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius: 3px;
    border:0px;
    font: @uteButtonItemFont;
}

.uteUiBtn1{
    color:@uteColorWhite;
    background-color: @uteColorBlueLink ;;
    padding-left: 33px;
    padding-right: 33px;
}

.uteUiBtn1:hover{
    color:@uteColorWhite;
    background-color: @uteColorLightBlue;
}

.uteUiBtn2{
    color:@uteColorWhite;
    background-color: @uteColorGreenHighlight ;;
    padding-left: 40px;
    padding-right: 40px;
}

.uteUiBtn2:hover{
    color:@uteColorWhite;
    background-color: @uteColorLightBlue;
}

.uteUiBtn3{
    color:@uteColorBlueLink;
    background-color: @uteColorBluePearl ;;
    padding-left: 120px;
    padding-right: 120px;
}

.uteUiBtn3:hover{
    color:@uteColorWhite;
    background-color: @uteColorLightBlue;
}

.uteUiBtnInact{
    background-color: @uteColorBluePearl;
}
.uteUiBtnInact:hover{
    background-color: @uteColorBluePearl;
}