.uteUiCommonsHoriDiv{
	display: block;
	width: 100%;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
}

.uteUiCommonsHoriDivTypePage{
	border-width: 2px 0px 0px 0px;
	border-color: @uteColorDarkGrey;
	border-style: solid;
}

.uteUiCommonsHoriDivTypeArea{
	border-width: 1px 0px 0px 0px;
	border-color: @uteColorDarkGrey;
	border-style: solid;
}

.uteUiCommonsHoriDivTypeDashed{
	border-width: 1px 0px 0px 0px;
	border-color: @uteColorDarkGrey;
	border-style: dashed;
}
.uteUiCommonsHoriDivTypeDotted{
	border-width: 1px 0px 0px 0px;
	border-color: @uteColorDarkGrey;
	border-style: dotted;
}
.uteUiCommonsHoriDivHeightR{
	margin-top: 0px;
	margin-bottom: 0px;
}

.uteUiCommonsHoriDivHeightS{
	margin-top: 1px auto;;
	margin-bottom: 1px auto;
}

.uteUiCommonsHoriDivHeightM{
	margin-top: 6px auto;
	margin-bottom: 6px auto;
}

.uteUiCommonsHoriDivHeightL{
	margin-top: 13px auto;
	margin-bottom: 13px auto;
}
