.uteTextfield{
    font-family: @uteFontFamily;
    font-size: @uteFontSize-base;
    margin: 2px;
    min-width: 160px;
    min-height: 28px;
    padding-right: 6px;

    & > .uteTextfield-regular {
        text-indent: 12px;
        min-height: 30px;
        background-color: @uteColorPaleBlue;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: @uteColor-lightGrey;
        outline: none;
        font-family: @uteFontFamily;
        font-size: @uteFontSize-base;
    }

    & > .uteTextfield-regular:focus {
        background-color: @uteColorBluePearl;
        outline: none;
    }

    & > .uteTextfield-underlined-label{
        position: relative;
        top: 10px;
        margin-right: 5px;
        font-family: @uteFontFamily;
        font-size: @uteFontSize-base;
        font-weight: @uteFontWeight-regular;
    }

    & > .uteTextfield-underlined-input{
        //height:33px;
        line-height: 25px;
        padding: 0px;
        text-indent: 6px ;
        border-color: @uteColor-lightGrey;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        position: relative;
        top:2px;
        background-color: transparent;
        outline: none;
    }
}

