.nrgCamHisTDialog {
    & > .uteDialogHdr {
            margin: 4px;
            height: 40px;
    }
    & > .uteUiDlgCont {
            margin: 0px;
    }
}

.nrgCamHisT {
            font-family: @nrgFontFamily;

    & > .nrgCamHisTtlT {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &   .nrgCamHis-left {
            margin-left: 15px;
     }
    &   .nrgCamHis-top {
            margin-top: 20px;
    }
    & > .nrgCamHisDiv {
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid @nrgColor-grey-highlight;
    }
    & > .nrgCamHisMtx{
            font-family: @nrgFontFamily;
    }
    & > .nrgCamHisScroll{
            overflow: auto;
            text-align: center;
            outline: 0px;
            margin-top: 10px;
    }
    & > .nrgCamHisScroll > .sapMScrollContScroll > .nrgCamHisBut {
            width: 268px;
            height:126px;
            margin:3px 3px 3px 3px;
            background-color: @nrgColor-grey-highlight;
    }
    & > .nrgCamHisScroll > .sapMScrollContScroll > .nrgCamHisBut > .nrgCamHisBut-Date{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            text-align: left;
            padding-left: 10px;
            border-bottom: 0.1rem dashed @nrgColor-bluePearl;
            padding-bottom: 5px
    }
    & > .nrgCamHisScroll > .sapMScrollContScroll > .nrgCamHisBut > .nrgCamHisBut-Title{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-semiBold;
            width: 50%;
            padding-top: 5px;
    }
    & > .nrgCamHisScroll > .sapMScrollContScroll > .nrgCamHisBut > .nrgCamHisBut-Price{
            font-size: @nrgFontSize-largest;
            font-weight: @nrgFontWeight-regular;
            margin-left: 10px;
            margin-top: 10px;
            text-align: left;
    }
    & > .nrgCamHisScroll > .sapMScrollContScroll > .nrgCamHisBut > .nrgCamHisBut-PriceLbl{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCamHisScroll > .sapMScrollContScroll > .nrgCamHisBut-Selected {
            background-color: @nrgColor-grey-light;
            color:@nrgColor-white;
    }
}

