.nrgCmpOffT {
            font-family: @nrgFontFamily;

    & > .nrgCamOffTtlT {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOffTiers{
            width:10%;
            float:left;
            display:inline-block;
    }
    & > .nrgCmpOffTiers > .nrgCmpOffTier{
            margin-bottom: 10px;
            margin-top: 10px;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOffTiles{
            width:90%;
            display:inline-block;
    }
    & > .nrgCmpOffTiles > .nrgCamOffScroll{
            overflow: auto;
            text-align: center;
            outline: 0px;
            margin-top: 10px;
    }
    & > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt {
            width: 268px;
            height:126px;
            margin:3px 3px 3px 3px;
            background-color: @nrgColor-grey-highlight;
            color:@nrgColor-grey-dark;
    }
    & > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBt-Ttl {
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-semiBold;
            padding-top: 5px;
            width: 75%;
    }
    & > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBt-Prc{
            font-size: @nrgFontSize-largest;
            font-weight: @nrgFontWeight-regular;
            margin-left: 10px;
            margin-top: 10px;
            text-align: left;
    }
    & > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBt-PrcLbl{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBtinfo > .nrgCamOffBt-CF{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBtinfo > .nrgCamOffBt-PC{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt-Selected {
            background-color: @nrgColor-grey-light;
            color:@nrgColor-white;
    }
}
