.tmAVDChart {

}

.tmAVDChart .tmAVDChart-XGrid {
    stroke: #989898;
    stroke-width: 1;
}

.tmAVDChart .tmAVDChart-YGrid {
    stroke: #989898;
    stroke-width: 1;
}

.tmAVDChart .tmAVDChart-XAxis path.domain {
    display: none;
}

.tmAVDChart .tmAVDChart-XAxis g.tick text {
    fill: #545a6a;
}

.tmAVDChart .tmAVDChart-YAxis path.domain {
    display: none;
}

.tmAVDChart .tmAVDChart-YAxis g.tick text {
    fill: #545a6a;
}

.tmAVDChart .tmAVDChart-YAxis g.tick:last-of-type {
    display: none;
}

.tmAVDChart .tmAVDChart-usageLine {
    fill: none;
    stroke-width: 3;
}

.tmAVDChart .tmAVDChart-usageDataPoint {
    stroke: #ffffff; /* same as background color */
    stroke-width: 3;
}
