.uteMIl {
    display: block;
    position: relative;
}

.uteMIl .uteMIl-hdr {
    position: relative;
}

.uteMIl .uteMIl-hdr .uteMIl-hdrContent {
    display: inline-block;
    float: right;
}

.uteMIl .uteMIl-hdr .uteMIl-hdrExpander {
    display: inline-block;
    float: right;
}

.uteMIl .uteMIl-body {
    position: relative;
}

.uteMIl-design-default {

}

//uteMIl-design
//uteMIl-hdrExpanderDesign-
