.nrgQPPay-View {
            @nrgQPPay-maxWidth: 340px;
            color : @nrgColor-white;
            font-family: @nrgFontFamily;
            font-size:@nrgFontSize-small;

    &    .nrgQPPay-tabPanelItem  {
            width: 100%;
            height: 100%;
    }
    &   .nrgQPPay-btn {
            margin: 20px 10px 2px;
            width: 7rem;
            height: 28px;
            padding: 5px;
    }
    &   .nrgQPPay-top  {
            margin-top: 5px;
    }
    &   .nrgQPPay-tabPanelItem > .uteMTabPanelItem-content {
            width: @nrgQPPay-maxWidth;
            height: 100%;
    }
    &   .nrgQPPay-Popup {
            display: inline-block;
            position: relative;
            width: @nrgQPPay-maxWidth;
            height: 326px;
            background-color: @nrgColor-blue-darkPale;
    }
    &   .nrgQPPay-PopupHdr {
            text-align: right;
    }
    &   .nrgQPPay-hdrBtn {
            display: inline-block;
    }
    &   .nrgQPPayBt-close{
            width: 20px;
            height: 20px;
            position:relative;
            border-radius:4px;
    }
    &   .nrgQPPay-btns {
            background-color: @nrgColor-blue-darkPale;
            text-align: center;
    }
    &   .nrgQPPayBt-close::after,.nrgQPPayBt-close::before {
            position:absolute;
            top:9px;
            left:0px;
            content:'';
            display:block;
            width:20px;
            height:2px;
            background-color:@nrgColor-white;
    }
    &   .nrgQPPayBt-close::after {
            transform: rotate(45deg);
    }
    &   .nrgQPPayBt-close::before {
            transform: rotate(-45deg);
    }
    &   .nrgQPPay-handset {
            font-size: 10rem;
            width:100%;
    }
    &   .nrgQPPay-stopRec {
            width:100%;
            text-align: center;
    }
    &   .nrgQPPay-tabIcon  {
            background-color: @nrgColor-blue-darkPale;
    }
    &   .nrgQPPay-text {
            margin-top: 1rem;
    }
    &   .nrgQPPay-PopupWhite {
            display: inline-block;
            position: relative;
            width: @nrgQPPay-maxWidth;
            height: 326px;
            background-color: @nrgColor-blue-lightPale;
    }
    &   .nrgQPCC-data {
            background-color:@nrgColor-blue-pearl;
            margin: 1rem 2rem 1rem 2rem;
            padding: 1px;
    }
    &   .nrgQPPayBt-closeBG::after,.nrgQPPayBt-closeBG::before {
            background-color:@nrgColor-grey-highlight;
    }
    &  .nrgQPPay-CC {
            background-color: transparent;
    }
    &  .nrgQPPay-Pend {
            margin-top: 1rem;
    }
    &  .nrgQPCC-root {
            color: @nrgColor-grey-inactive;
    }
    &  .nrgQPCC-btn {
            margin: 5px;
    }
    &  .nrgQPCC-ttl {
            font-weight: @nrgFontWeight-semiBold;
            text-align: left;
            position: relative;
            left: 1.5rem;
    }
    &  .nrgQPCC-lbl {
            display:inline-block;
    }
    &  .nrgQPPay-TF {
            display:inline-block;
            width: 75%;
    }
    &  .nrgQPCC-DDI {
            width:8.5rem;
    }
    &   .nrgQPCC-DDL {
            width:12rem;
            margin: 2px 2px 2px 25px;
    }
    &  .uteTextfield-regular {
            font-size:@nrgFontSize-small;
    }
    &  .nrgQPCC-input {
            margin-left: 25px;
    }
    &  .uteMDd-hdrContent {
            width:8.5rem;
    }
    &  .nrgQPCC-cvv {
            margin-left: 25px;
    }
    &  .nrgQPCC-zipcode {
            margin-left:20px;
    }

}
