/node_modules/

/ZELIB/bower_components/

/ZEBASE/build/

/ZEBASE_CTRL/build/

/ZECMP_IC/build/

/ZECTRL_COMMONS/build/

/ZECTRL_MAIN/build/

/ZEMOD_APP/build/

/ZEMOD_CMPGN/build/

/ZEMOD_DSHB/build/

/ZEMOD_OTHERS/build/
