.DS_Store
/node_modules/
/ZELIB/bower_components/
/ZEBASE/build/
/ZEBASE_CTRL/build/
/ZECMP_IC/build/
/ZECTRL_COMMONS/build/
/ZECTRL_MAIN/build/
/ZECTRL_APP/build/
/ZECTRL_VIZ/build/
/ZEMOD_APP/build/
/ZEMOD_CMPGN/build/
/ZEMOD_DSHB/build/
/ZEMOD_OTHERS/build/
/ZEMOD_QUICKPAY/build/
/ZEMOD_BUPA/build/
/ZEMOD_BILLING/build/
/ZEMOD_SEARCH/build/
/ZEMOD_USAGE/build/
/ZEMOD_NNP/build/
