.nrgApp {
    /*
        Agent screen resolution: 1680 x 1050
        Wireframe: 1438 x 771
        Wireframe min: 1358 x 686
    */

    @hdrFooterZIdx: 500;
    
    position: relative;
    overflow: auto;
    min-width: 1438px;
    
    & > header,
    & > footer {
        position: fixed;
        z-index: @hdrFooterZIdx;
        width: 100%;
    }
    
    & > header {
        top: 0;
    }
    
    & > footer {
        bottom: 0;
    }
    
    & > main {
        position: relative;
        overflow: hidden;
        margin: 65px auto 15px auto;
    }

    & .nrgAppPanel {
        background-color: @uteColorLightPaleBlue;
        border-radius: 2px;
        padding: 10px;
    }
}
