.nrgApp {
    @nrgAppZIndex: 5;
    
    position: relative;
    overflow: scroll;
    min-width: 1438px;
    
    & > header,
    & > footer {
        position: fixed;
        z-index: @nrgAppZIndex;
        width: 100%;
    }
    
    & > header {
        top: 0;
    }
    
    & > footer {
        bottom: 0;
    }
    
    & > main {
        position: relative;
        max-width: 1358px;
        overflow: hidden;
        margin: 65px auto 10px auto;
    }
}
