nav.AppHdrQuickLink {
    max-width: 1060px;
    margin: 0 auto;

    & > ul {
        display: inline-block;
        list-style-type: none;
        margin: 0 50px;

        & > li {
            cursor: pointer;
            padding: 10px;
            padding-left: 0;
            color: @uteColorDarkGrey;
        }

        & > li:first-child {
            border-bottom: 1px solid @uteColorLightBlue;
        }

        & > li:hover {
            color: @uteColorWhite;
        }
    }
}
