.nrgAppMain {
    position: relative;
    max-width: 1358px;
    margin: 65px auto 10px auto;
    overflow: hidden;

    & .nrgAppMainContentLeft {
        display: inline-block;
        width: 284px;
        margin-right: 14px;

        & > section:first-child {
            margin-bottom: 13px;
        }
    }

    & .nrgAppMainContentCenter {
        display: inline-block;
        min-width: 1060px;
        height: 100%;
        vertical-align: top;
    }
}


/*
.nrgAppMain {
    position: relative;
    max-width: 1358px;
    margin: 65px auto 10px auto;
    overflow: hidden;
}

.nrgAppTop {
    margin-bottom: 20px;
}

.nrgAppLeft {
    float: left;
    width: 284px;
    max-height: 686px;
    margin-right: 14px;
}

.nrgAppLeftTop {
    width: 100%;
    max-height: 400px;
    margin: 0 0 13px 0;
    border-radius: 2px;
    background-color: tomato;
}

.nrgAppLeftTopContent {
    padding: 15px;
}

.nrgAppLeftBottom {
    width: 100%;
    max-height: 273px;
    border-radius: 2px;
    background-color: gold;
}

.nrgAppLeftBottomContent {
    padding: 15px;
}

.nrgAppCenter {
    min-width: 1060px;
    min-height: 686px;
    height: 100%;
    margin-left: 298px;
    border-radius: 2px;
    background-color: deepskyblue;
}

.nrgAppCenterContent {
    position: relative;
    padding: 15px;
}

.nrgAppFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: aquamarine;
    z-index: 5;
}
*/
