.nrgAppMain {
    @summaryContentMaxHeight: 400px;
    @toolsContentMaxHeight: 273px;
    @generalContentMinHeight: 686px;

    position: relative;
    max-width: 1358px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    & > h1 {
        font: @uteFontWeightSemiBold @uteParagraphTextFontSize @uteFontFamily;
        color: @uteColorDarkPaleBlue;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    & .nrgAppMainContentLeft {
        display: inline-block;
        width: 284px;
        height: 100%;
        margin-right: 14px;

        & > section:first-child {
            margin-bottom: 13px;
        }

        & .nrgAppSummaryContent {
            max-height: @summaryContentMaxHeight;
            overflow: hidden;
        }

        & .nrgAppToolsContent {
            max-height: @toolsContentMaxHeight;
            overflow: hidden;
        }

        & > section > article {
            width: 100%;
            height: 100%;
        }
    }

    & .nrgAppMainContentCenter {
        display: inline-block;
        width: ~"calc(100% - 298px)";
        height: 100%;
        vertical-align: top;

        & > section {
            width: 100%;
            height: 100%;

            & > article {
                width: 100%;
                height: 100%;
            }
        }
    }

    & .nrgAppMainPanel,
    & .nrgAppMainGeneralFullPanel,
    & .nrgAppMainSummaryFullPanel,
    & .nrgAppMainToolsFullPanel {
        background-color: @uteColorLightPaleBlue;
        border-radius: 2px;
        padding: 10px;
    }

    & .nrgAppMainGeneralFullPanel {
        min-height: @generalContentMinHeight;
    }

    & .nrgAppMainSummaryFullPanel {
        height: @summaryContentMaxHeight;
    }

    & .nrgAppMainToolsFullPanel {
        height: @toolsContentMaxHeight;
    }
}
