* {
    box-sizing: border-box;
}

.nrgUiBody {
	margin: 0;
	padding: 0;
	font-family: @uteFontFamily;
}

.sap-desktop ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: antiquewhite;
    padding: 10px;
}

.sap-desktop ::-webkit-scrollbar-thumb {
    background-color: darkseagreen;
}

.sap-desktop ::-webkit-scrollbar-thumb:hover {
    background-color: goldenrod;
}

.sap-desktop ::-webkit-scrollbar-corner {
    background-color: antiquewhite;
} 