@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(font/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url(font/SourceSansPro-Italic.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(font/SourceSansPro-Semibold.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: url(font/SourceSansPro-SemiboldItalic.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(font/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url(font/SourceSansPro-BoldItalic.ttf);
}

* {
    box-sizing: border-box;
}

.nrgUiBody {
	margin: 0;
	padding: 0;
	font-family: @uteFontFamily;
}

.sap-desktop ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: antiquewhite;
    padding: 10px;
}

.sap-desktop ::-webkit-scrollbar-thumb {
    background-color: darkseagreen;
}

.sap-desktop ::-webkit-scrollbar-thumb:hover {
    background-color: goldenrod;
}

.sap-desktop ::-webkit-scrollbar-corner {
    background-color: antiquewhite;
} 