.nrgBilling-highBill {
    padding: 25px;

    & > .nrgBilling-highBill-leftDiv {
        display: inline-block;
        width: 782px;
        border-right: 1px solid @nrgColor-blue-header;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner {
        width: 100%;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-titleAndNav {
        height: 50px;
        width: 100%;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-titleAndNav > .nrgBilling-highBill-title {
        color: @nrgColor-grey-dark;
        font-weight: @nrgFontWeight-semiBold;
        font-size: @nrgFontSize-large;
        padding-bottom: 6px;
        border-bottom: @nrgColor-grey-lighter;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-titleAndNav > .nrgBilling-highBill-backToDash {
        float: right;
        color: @nrgColor-grey-lighter;
        & .nrgBilling-highBill-backIcon {
            margin-right: 5px;
            font-size: 12px;
        }
        & .nrgBilling-highBill-backTitle {

        }
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-mrDate {
        height: 117px;
        width: 300px;
        background-color: @nrgColor-blue-pearl;
        border-radius: 5px;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-bpCharges {
        height: 117px;
        width: 200px;
        background-color: red;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-btnLinks  {

    }
}
