.nrgBilling-cusDataBillingInfo{
    height: 398px;
    padding: 17px 25px 18px 25px !important;

    font-family: @nrgFontFamily;

    & .nrgBilling-cusDataBil-scrnTitle{
        display: inline-block;
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-r-btn{
        display: inline-block;
        float: right;
    }

    & > .nrgBilling-cusDataBil-r-btn > .nrgBilling-cusDataBil-CommBtn{
        background-color: white;
        width: 200px;
        height: 30px;
        text-align: center;
    }

    & > .nrgBilling-cusDataBil-r-btn > .nrgBilling-cusDataBil-CommBtn > .nrgBilling-cusDataBil-PayBalBtn-text{
        font: @nrgFontWeight-regular @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-blue-link;
    }

    /*CSS for layouts*/
    & > .nrgBilling-cusDataBil-layout{
        padding: 0;
        margin: 0;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l{
        border-right: @nrgColor-grey-light;
        border-right-style: dashed;
        border-right-width: thin;
        padding: 0;
        margin: 0;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div{
        padding:0;
        margin:0;
        height: 346px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > .nrgBilling-cusDataBil-PayBalBtn{
        height: 86px;
        width: 215px;
        border-style: solid;
        border-width: 1px;
        border-color: #5092CD;
        margin-top: 17px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > .nrgBilling-cusDataBil-PayBalBtn > .nrgBilling-cusDataBil-PayBalBtn-amount{
        font: @nrgFontWeight-semiBold @nrgFontSize-veryJumbo @nrgFontFamily;
        color: @nrgColor-grey-dark;
        text-align: center;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > .nrgBilling-cusDataBil-PayBalBtn > .nrgBilling-cusDataBil-PayBalBtn-text{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-blue-link;
        text-align: center;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > .nrgBilling-cusDataBil-invoice-lbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 28px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > span > .nrgBilling-cusDataBil-invoice-id{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-blue-link;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > span > .nrgBilling-cusDataBil-Icon{
        font: @nrgFontWeight-bold @nrgFontSize-jumbo @nrgFontFamily;
        color: @nrgColor-grey-semiDark;
        text-align: center;
        vertical-align: middle;
        margin-left: 20px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > div >.nrgBilling-cusDataBil-referer-lbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 28px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > div > .nrgBilling-cusDataBil-referer-dropdown{
        margin-left: 10px;
        border: none;
        background-color: transparent;
        font: @nrgFontWeight-semiBold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-blue-link;
     }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > div > .nrgBilling-cusDataBil-referer-dropdown > .uteMDd-hdr{
        border: none;
        margin-bottom: 4px;
        cursor: pointer;
     }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > .nrgBilling-cusDataBil-date{
        background-color: @nrgColor-bluePearl;
        border-radius: 2px;
        width: 214px;
        height: 130px;
        margin-top: 12px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > .nrgBilling-cusDataBil-date > .nrgBilling-cusDataBil-date-label{
        font: @nrgFontWeight-regular @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-inactive;
        text-align: center;
        padding-top: 20px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-l > .nrgBilling-cusDataBil-l-div > .nrgBilling-cusDataBil-date > .nrgBilling-cusDataBil-date-value{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
        text-align: center;
        margin-top: 5px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m{
        border-right: @nrgColor-grey-light;
        border-right-style: dashed;
        border-right-width: thin;
        padding: 0;
        margin: 0;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div{
        padding:0;
        margin: 0 22px;
        height: 346px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-text-amntexpln{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBillingInfo-midlbl{
        margin-top: 10px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBillingInfo-midlbl > .uteMLbl-text{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBillingInfo-midamnt{
        float: right;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBillingInfo-midamnt > .uteMBtn-text{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-blue-link;
        border-bottom: #5092ce;
        border-bottom-style: solid;
        border-bottom-width: thin;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-text-postinvoice{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 30px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-text-totalDue{

    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-text-totalDue > .uteMLbl-text{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-text-totalamntdue{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        float: right;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-text-current{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-light;
        margin-top: 24px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div .nrgBilling-cusDataBil-invoice-layout{
        height: 210px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div .nrgBilling-cusDataBil-invoice-layout .nrgBilling-cusDataBillingInfo-invoicelbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div .nrgBilling-cusDataBil-invoice-layout .nrgBilling-cusDataBillingInfo-invoiceBtnValue{
        float: right;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div .nrgBilling-cusDataBil-invoice-layout .nrgBilling-cusDataBillingInfo-invoiceBtnValue > .uteMBtn-text{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-blue-link;
        border-bottom: #5092ce;
        border-bottom-style: solid;
        border-bottom-width: thin;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div .nrgBilling-cusDataBil-invoice-layout {
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix{
        padding: 0;
        margin: 24px 0 0 0;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > table > tbody > tr{
        margin-top: 11px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > table > tbody > tr td{
        padding: 0;
        margin:0;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > table > tbody > tr > td > .nrgBilling-cusDataBil-r-content-lbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 12px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > table > tbody > tr > td > .nrgBilling-cusDataBil-r-content-cnt{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-left: 18px;
        margin-top: 12px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > table > tbody > tr > td > .nrgBilling-cusDataBil-r-content-lbl2{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 12px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > table > tbody > tr > td > .nrgBilling-cusDataBil-r-content-cnt2{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-red-alert;
        margin-left: 18px;
        margin-top: 12px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > .nrgBilling-cusDataBil-horDvi{
        border-color: @nrgColor-grey-light;
        border-style: dashed;
        margin: 0;
        margin-top: 4px;
    }

//    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix .nrgBilling-cusDataBil-r-content-arrange-status{
//        padding: 0;
//        margin: 0;
//    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > table > tbody > tr > td  .nrgBilling-cusDataBil-r-content-cnt-icon{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-orangeAttention;
        margin-top: 12px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > table > tbody > tr > td  .nrgBilling-cusDataBil-r-content-cnt-dpp{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-blue-link;
        margin-left: 18px;
        margin-top: 12px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > .nrgBilling-cusDataBil-horDvi-long{
        padding: 0;
        margin-top: 80px;
        border-color: @nrgColor-grey-light;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > .nrgBilling-cusDataBil-btm-label1{
        font: @nrgFontWeight-regular @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > .nrgBilling-cusDataBil-btm-value{
        margin-left: 10px;
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-m > .nrgBilling-cusDataBil-m-div > .nrgBilling-cusDataBil-m-matrix > .nrgBilling-cusDataBil-btm-label2{
        font: @nrgFontWeight-regular @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-left: 38px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r{
        padding: 0;
        margin: 0;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r > .nrgBilling-cusDataBil-r-div{
        padding:0;
        margin: 0 22px;
        height: 346px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r > .nrgBilling-cusDataBil-r-div > .nrgBilling-cusDataBil-r-text-disconnect{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r > .nrgBilling-cusDataBil-r-div > table > tbody > tr td{
        padding: 0;
        margin:0;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r > .nrgBilling-cusDataBil-r-div > table > tbody > tr > td > .nrgBilling-cusDataBil-r-content-lbl1{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 18px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r > .nrgBilling-cusDataBil-r-div > table > tbody > tr > td > .nrgBilling-cusDataBil-r-content-cnt1{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-left: 18px;
        margin-top: 18px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r > .nrgBilling-cusDataBil-r-div > table > tbody > tr > td > .nrgBilling-cusDataBil-r-content-lbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 10px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r > .nrgBilling-cusDataBil-r-div > table > tbody > tr > td > .nrgBilling-cusDataBil-r-content-cnt{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-left: 18px;
        margin-top: 10px;
    }

    & > .nrgBilling-cusDataBil-layout > tbody > tr > .nrgBilling-cusDataBil-r > .nrgBilling-cusDataBil-r-div > .nrgBilling-cusDataBil-horDvi{
        border-color: @nrgColor-grey-light;
        border-style: dashed;
        margin: 0;
        margin-top: 4px;
    }
}

.sapUiDlgHdr {
    height: 40px;
    color: #666666;
    border-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.nrgBilling-invoicePopup{
    width: 440px;
    background-color: @nrgColor-bluePearl;

    & .floatRight{
        float: right;
    }

    & .nrgBilling-invoicePopup-label{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    & .nrgBilling-invoicePopup-label > span{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-inactive;
    }

    & .nrgBilling-invoicePopup-value{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    & .nrgBilling-invoicePopup-value > span{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-inactive;
    }

    & .nrgBilling-invoicePopup-dark-label{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    & .nrgBilling-invoicePopup-dark-label > span{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-bold;
        color: @nrgColor-grey-dark;
    }

    & .nrgBilling-invoicePopup-dark-value{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    & .nrgBilling-invoicePopup-dark-value > span{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-bold;
        color: @nrgColor-grey-dark;
    }
}
