.nrgBilling-highBill {
    padding: 25px;

    & > .nrgBilling-highBill-leftDiv {
        display: inline-block;
        width: 782px;
        border-right: 1px solid @nrgColor-blue-header;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner {
        width: 100%;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-titleAndNav {
        height: 50px;
        width: 100%;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-titleAndNav > .nrgBilling-highBill-title {
        color: @nrgColor-grey-dark;
        font-weight: @nrgFontWeight-semiBold;
        font-size: @nrgFontSize-large;
        padding-bottom: 6px;
        border-bottom: @nrgColor-grey-lighter;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-titleAndNav > .nrgBilling-highBill-backToDash {
        float: right;
        color: @nrgColor-grey-lighter;
        & .nrgBilling-highBill-backIcon {
            margin-right: 5px;
            font-size: 12px;
        }
        & .nrgBilling-highBill-backTitle {

        }
    }
    & > .nrgBilling-highBill-leftDiv > .nrgBilling-highBill-banner > .nrgBilling-highBill-flexbox {
        display: flex;
        & .nrgBilling-highBill-mrDate {
            width: 300px;
            background-color: @nrgColor-blue-pearl;
            border-radius: 5px;
            margin-right: 10px;
            padding: 18px 30px;
        }
        & .nrgBilling-highBill-mrDate > .nrgBilling-highBill-mrDate-title {
            color: @nrgColor-grey-inactive;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
        }
        // Dropdown
        & .nrgBilling-highBill-mrDate > .nrgBilling-highBill-mrDate-invoiceDropdown {
            margin-top: 15px;
            
            & .uteMDd-picker,
            & .uteMDd-hdr {
                width: 215px;
                border: 1px solid @nrgColor-grey-inactive;
            }
            & .uteMDd-picker,
            & .uteMDd-hdrContent {
                padding: 8px 15px;
            }
            & .uteMDd-hdrExpander {
                padding: 5px;
            }
            & .uteMDdItem {
                color: @nrgColor-grey-inactive;
                font-size: @nrgFontSize-base;
                font-weight: @nrgFontWeight-semiBold;
            }
            & .uteMDdItem:hover {
                color: @nrgColor-blue-link;
            }
            & .uteMDd-picker > .uteMDdItem {
                margin: 7px 0;
            }
            & .uteMDd-picker > .uteMDdItem[data-selected="selected"] {
                color: @nrgColor-grey-highlight;
            }
        }
        & .nrgBilling-highBill-mrDate > .nrgBilling-highBill-mrDate-invoiceNum {
            margin-top: 15px;
            display: flex;
        }
        & .nrgBilling-highBill-mrDate > .nrgBilling-highBill-mrDate-invoiceNum > .nrgBilling-highBill-mrDate-invoiceNumTitle {
            color: @nrgColor-grey-inactive;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-regular;
        }
        & .nrgBilling-highBill-mrDate > .nrgBilling-highBill-mrDate-invoiceNum > .nrgBilling-highBill-mrDate-invoiceNumValue {
            margin-left: 15px;
            cursor: pointer;
            color: @nrgColor-blue-link;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
        }
        & .nrgBilling-highBill-bpCharges {
            height: 117px;
            width: 200px;
            background-color: red;
            margin-right: 10px;
        }
        & .nrgBilling-highBill-btnLinks  {
            background-color: blue;
            height: 117px;
            width: 50px;
        }
    }





















}
