.nrgDashboard-billChkBook{
    height: 613px;
    padding: 25px!important;
    &-left {
        display: inline-block;
        width: 782px;
        // padding-right: 30px;
        border-right: 1px solid @nrgColor-blue-darkPale;
        .nrgDashboard-billChkBook-pageTitle {
            color: @nrgColor-grey-dark;
            font: @nrgFontWeight-semiBold @nrgFontSize-large @nrgFontFamily;
        }
        .nrgDashboard-billChkBook-horiLine {
            border-color: @nrgColor-grey-lighter;
            float: left;
            margin: 10px auto;
        }
        .nrgDashboard-billChkBook-quickRefArea {
            margin-top: 40px;
            margin-right: 30px;
            display: flex;
            .nrgDashboard-billChkBook-quickRefArea-date {
                width: 264px;
                flex: 1;
                height: 110px;
                margin-right: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                .nrgDashboard-billChkBook-quickRefArea-dateWrap {
                    background-color: @nrgColor-blue-pearl;
                    width: 100%;
                    padding: 5px;
                    .nrgDashboard-billChkBook-dateTable {
                        font-size: 14px;
                        color: @nrgColor-grey-dark;
                        border: 2px solid @nrgColor-black;
                        .nrgDashboard-billChkBook-tableCell {
                            border: 1px solid @nrgColor-black;
                            padding: 0;
                        }
                        .nrgDashboard-billChkBook-dateTable-clm1 {
                            padding: 5px;
                            font-weight: @nrgFontWeight-regular;
                            color: @nrgColor-white;
                            background-color: @nrgColor-black;
                        }
                        .nrgDashboard-billChkBook-dateTable-clm2 {
                            padding: 5px;
                            text-align: right;
                        }
                    }
                }
            }
            .nrgDashboard-billChkBook-quickRefArea-amount {
                width: 215px;
                flex: 1;
                background-color: @nrgColor-blue-pearl;
                border: 1px dashed @nrgColor-grey-amount;
                height: 110px;
                padding: 5px 20px 10px 20px;
                text-align: center;
                color: @nrgColor-grey-dark;
                margin-right: 22px;
                cursor: pointer;
                position: relative;
                .nrgDashboard-billChkBook-amountNum {
                    font-weight: @nrgFontWeight-bold;
                    font-size: 36px;
                }
                .nrgDashboard-billChkBook-amountAsterisk {
                    font-size: 40px;
                }
                .nrgDashboard-billChkBook-amountDscrpt1 {
                    display: block;
                    margin-top: 5px;
                    text-transform: uppercase;
                    font-weight: @nrgFontWeight-regular;
                    font-size: 14px;
                }
                .nrgDashboard-billChkBook-amountDscrpt2 {
                    display: block;
                    font-weight: @nrgFontWeight-semiBold;
                    font-size: 14px;
                }
                .nrgDashboard-billChkBook-quickRefArea-amountHover {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
            }
            .nrgDashboard-billChkBook-quickRefArea-customer {
                width: 228px;
                flex: 1;
                .nrgDashboard-billChkBook-customer-btn {
                    text-transform: uppercase;
                    font-weight: @nrgFontWeight-semiBold;
                    color: @nrgColor-white;
                    background-color: @nrgColor-blue-link;
                    font-size: 16px;
                    display: block;
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    margin: 0 0 10px 0;
                }
                .nrgDashboard-billChkBook-customer-btn:hover {
                    background-color: @nrgColor-blue-light;
                }
            }
        }
        .nrgDashboard-billChkBook-mainContent {
            margin-right: 13px;
        }
    }
    &-right {
        display: inline-block;
        width: 278px;
        height: 50px;
    }
    .test {
        width: 100%;
        height: 500px;
        background-color: red;
    }
    .test2 {
        width: 100%;
        height: 500px;
        background-color: yellow;
    }

}
