.nrgDashboard-Tools-CJ {
        height: 300px;
        padding: 5px 5px 5px!important;

        & > .nrgBllCJ-header {
                min-height: 10.5%;
                max-height: 10.5%;
                color: @nrgColor-blueLink;
                font-weight: @nrgFontWeight-semiBold;
                border-bottom: 2px solid @nrgColor-grey-highlight;
                & > .nrgBllCJ-header-btn-rht {
                        float: right;
                }
                & > .nrgBllCJ-header-btn-sel {
                        color: @nrgColor-grey-light;
                }
        }
        & > .nrgBllCJ-main {
                min-height: 87.5%;
                max-height: 87.5%;
            & > .nrgBllCJ-main-frq{
                    display:inline-block;
                    border-right: 2px solid @nrgColor-grey-highlight;
                    & > .nrgBllCJ-main-frq-ttl {
                            display:inline-block;
                            color: @nrgColor-grey-light;
                            font-size: @nrgFontSize-small;
                            font-weight: @nrgFontWeight-semiBold;
                    }
            }
            & > .nrgBllCJ-main-timeline{
                    display:inline-block;
                    vertical-align: top;
                    color: @nrgColor-grey-highlight;
                	max-width: 70%;
                    & > .nrgBllCJ-main-timeline-details {
                            width: 30%;
                            display: inline-block;
                            vertical-align: top;
                            & > .nrgBllCJ-main-timeline-ttl {
                                    display:inline-block;
                                    color: @nrgColor-grey-light;
                                    vertical-align: top;
                                    font-size: @nrgFontSize-small;
                                    font-weight: @nrgFontWeight-semiBold;
                                    margin: 5px;
                            }
                            & > .nrgBllCJ-timeline-btns {
                                    margin: 5px 20px;
                            }
                            & > .nrgBllCJ-timeline-calendars {
                                    margin: 10px 0;
                            }
                            & > .nrgBllCJ-timeline-referrals {
                                    color: #4d4d4d;
                                    font-size: 10pt;
                                    margin-left: 15px;
                            }

                    }
                    & > .nrgBllCJ-main-timeline-icons {
                            width: 70%;
                            display: inline-block;
                    }
            }

        }

}




.tmCustJCChart-text{
    font-size: @nrgFontSize-small;
}

.tmCustJCChart {
    display: inline-block;
}

.tmCustJCChart-slice {
    stroke: black;
    stroke-width: 1;
}

.tmCustJCChart-sliceValue {
    text-anchor: middle;
    font-size: 0.8em;
    font-weight: 600;
}

.tmCustJCChart-line {
    fill: none;
    stroke-width: 2;
}

.tmCustJCChart-label {
    font-size: 1em;
}

.tmCustJCChart-totalOuterBg {

}

.tmCustJCChart-totalInnerBg {
    fill-opacity: 0.3;
    fill: grey;
}

.tmCustJCChart-totalText {
    fill: white;
    text-anchor: middle;
    font-size: 1em;
    font-weight: 600;
}
