.nrgBilling-dPmtPln{
    padding-left: 25px !important;
    padding-top: 25px !important;
    display: inline-flex;

    & > .nrgBilling-dPmtPln-lftArea {
        background-color: greenyellow;
        width: 748px;
        fles: 1;
    }

    & > .nrgBilling-dPmtPln-lftArea > .nrgBilling-dPmtPln-title{
        font-weight: @nrgFontWeight-bold;
        font-size: @nrgFontSize-large;
    }

    & > .nrgBilling-dPmtPln-rgtArea{
        background-color: red;
        flex: 1;
    }

}
