<!-- UI5:Template type=text/x-handlebars-template controller=tm.nav.view.App -->
<div>
    <aside>
        {{control sap-ui-type="sap.ui.layout.HorizontalLayout" id="TopLeftNav"}}
    </aside>
    <aside>
        {{control sap-ui-type="sap.ui.layout.HorizontalLayout" id="BottomLeftNav"}}
    </aside>
    <nav>
        {{control sap-ui-type="sap.ui.layout.HorizontalLayout" id="MainContentNav"}}
    </nav>
</div>