@import '../../../ute/ui/commons/themes/base/core/color.less';

// Always use the color variables.
// Do not add color code manually to your application

// Color palatte
// --------------------------------------------
@nrgColor-white:           @uteColor-white;
@nrgColor-darkGrey:        @uteColor-darkGrey;
@nrgColor-inactiveGrey:    @uteColor-inactiveGrey;
@nrgColor-lightGrey:       @uteColor-lightGrey;
@nrgColor-black:           @uteColor-black;

@nrgColor-lightBlue:       @uteColor-lightBlue;
@nrgColor-blueLink:        @uteColor-blueLink;
@nrgColor-bluePearl:       @uteColor-bluePearl;
@nrgColor-paleBlue:        @uteColor-paleBlue;
@nrgColor-lightPaleBlue:   @uteColor-lightPaleBlue;
@nrgColor-darkPaleBlue:    @uteColor-darkPaleBlue;

@nrgColor-greenHighlight:  @uteColor-greenHighlight;
@nrgColor-redAlert:        @uteColor-redAlert;
@nrgColor-orangeAttention: @uteColor-orangeAttention;
