.nrgU-clearfix:before {
    display: table;
    content: '';
}

.nrgU-clearfix:after {
    display: table;
    clear: both;
    content: '';
}

.nrgU-right {
    float: right;
}

.nrgU-left {
    float: left;
}

.nrgU-displayNone {
    display: none;
}
