.uteToggleBtn{
    margin: 10px ;
    padding-top: 1px ;
    padding-bottom: 1px ;
    padding-right: 1px ;
    background-color: @uteColorBlueLink;
    border-radius: 18px;
    border: 0;
    font-family: @uteFontFamily;
    font-size: @uteFontSize-base;
    //height: 27px;
    box-sizing: border-box;

    & > .uteToggleBtn-leftBtn{
        height: 22px;
        margin-left: 2px;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-right: 0px;
        padding: 5px;
        background-color: transparent;
        border-radius: 18px;
        border: 0 ;
    }

    & > .uteToggleBtn-rightBtn{
        height: 22px;
        margin-left: 1px;
        margin-top: 1px;
        margin-right: 1px ;
        margin-bottom: 1px;
        padding: 5px;
        background-color: transparent;
        border-radius: 18px;
        border: 0 ;
    }

    & > .uteToggleBtn-leftBtn-selected{
        margin-left: 2px;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-right: 0px;
        padding: 5px;
        background-color: @uteColorPaleBlue;
        border-radius: 18px;
        border: 0 ;
    }

    & > .uteToggleBtn-rightBtn-selected{
        margin-left: 1px;
        margin-top: 1px;
        margin-right: 1px ;
        margin-bottom: 1px;
        padding: 5px;
        background-color: @uteColorPaleBlue ;
        border-radius: 18px;
        border: 0 ;
    }
    /*
            .uteUiToggleLeftButtonSelected{
                //width:249px;
                margin-left: 2px;
                margin-top: 1px;
                margin-bottom: 1px;
                margin-right: 0px;
                padding: 5px;
                background-color: @uteColorPaleBlue;
                border-radius: 18px;
                -webkit-border-radius: 18px;
                -moz-border-radius: 18px;
                border: 0 ;
            }
            .uteUiToggleRightButtonSelected{
                //width:249px;
                margin-left: 0px;
                margin-top: 1px;
                margin-right: 1px ;
                margin-bottom: 1px;
                padding: 5px;
                background-color: @uteColorPaleBlue ;
                border-radius: 18px;
                -webkit-border-radius: 18px;
                -moz-border-radius: 18px;
                border: 0 ;
            }
    */
}
