* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(234, 239, 244);
    font-family: 'Source Sans Pro', sans-serif;
}
            
.uteInfoLine {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    min-height: 0;
    width: 100%;
    color: rgb(77, 77, 77); 
    background-color: rgb(249, 252, 255); 
    padding: 1em;
}

.uteInfoLineItemTitle {
    display: block;
    cursor: pointer; 
    font-size: 16px;
    font-weight: 600;
}

.uteInfoLineItemContent {
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    margin-top: 1.5em;
    z-index: 2;
    transform: translate(0, 0);
    transition: all 0.25s ease-in-out;
}

.uteInfoLine ul {
    list-style: none;
}

.uteInfoLine ul li {
    position: relative;
    animation-delay: 1s; 
    animation: flipdown 0.5s ease both;
}

.uteInfoLine ul li i {
    float: right;
    transform: translate(-6px, 0);
    padding-top: 0.2em;
}

.uteInfoLine ul li i::before,
.uteInfoLine ul li i::after {
    content: '';
    position: absolute;
    background-color: rgb(80, 146, 206);
    width: 2px;
    height: 10px; 
    transition: all 0.25s ease-in-out;
}

.uteInfoLine ul li i::before {
    transform: translate(-3px, 0) rotate(45deg); 
}

.uteInfoLine ul li i::after {
    transform: translate(3px, 0) rotate(-45deg); 
}

.uteInfoLine ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; 
}

.uteInfoLine ul li input[type=checkbox]:checked ~ div.uteInfoLineItemContent {
    margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%); 
}

.uteInfoLine ul li input[type=checkbox]:checked ~ i::before {
    transform: translate(3px, 0) rotate(45deg);
}

.uteInfoLine ul li input[type=checkbox]:checked ~ i::after {
    transform: translate(-3px, 0) rotate(-45deg);
}

@keyframe flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg); 
    }

    5% {
      opacity: 1; 
    }

    80% {
      transform: rotateX(8deg); 
    }

    83% {
      transform: rotateX(6deg); 
    }

    92% {
      transform: rotateX(-3deg); 
    }

    100% {
      transform-origin: top center;
      transform: rotateX(0deg); 
    }
}