.uteInfoLine {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  min-height: 0;
  width: 100%;
  color: #4d4d4d;
  background-color: #f9fcff;
  padding: 1em;
}
.uteInfoLineItemTitle {
  display: block;
  cursor: pointer;
  font: 600 16pt 'Source Sans Pro', sans-serif;
}
.uteInfoLineItemContent {
  position: relative;
  overflow: hidden;
  opacity: 1;
  margin-top: 1.5em;
  z-index: 2;
  transform: translate(0, 0);
  transition: all 0.25s ease-in-out;
}
.uteInfoLine ul {
  list-style: none;
}
.uteInfoLine ul li {
  position: relative;
  animation-delay: 1s;
  animation: uteInfoLineflipdown 0.5s ease both;
}
.uteInfoLine ul li i {
  float: right;
  transform: translate(-6px, 0);
  padding-top: 0.2em;
}
.uteInfoLine ul li i::before,
.uteInfoLine ul li i::after {
  content: '';
  position: absolute;
  background-color: #5092ce;
  width: 2px;
  height: 10px;
  transition: all 0.25s ease-in-out;
}
.uteInfoLine ul li i::before {
  transform: translate(-3px, 0) rotate(45deg);
}
.uteInfoLine ul li i::after {
  transform: translate(3px, 0) rotate(-45deg);
}
.uteInfoLine ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.uteInfoLine ul li input[type=checkbox]:checked ~ div.uteInfoLineItemContent {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.uteInfoLine ul li input[type=checkbox]:checked ~ i::before {
  transform: translate(-3px, 0) rotate(135deg);
}
.uteInfoLine ul li input[type=checkbox]:checked ~ i::after {
  transform: translate(3px, 0) rotate(-135deg);
}
@keyframes uteInfoLineflipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
.body {
  margin: 0 ;
  border-radius: 5px;
}
.uteDialog {
  margin: 0em ;
  padding: 0em ;
  background-color: #eaeff4;
  border-radius: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-family: 700 21pt 'Source Sans Pro', sans-serif;
}
.uteDialogHdr {
  margin: 8px;
  height: 50px;
}
.uteDialogHdr > .uteDialogHdrLeft {
  margin-left: 10px ;
}
.uteUiDlgHdrBtn {
  margin-top: 10px ;
  height: 50px;
}
.uteUiDlgHdrSep {
  height: 1px;
  background-color: #808080;
}
.uteUiDlgCont {
  top: 0px ;
  margin: 8px ;
  position: relative;
  background-color: transparent;
  font-family: 400 14pt 'Source Sans Pro', sans-serif;
}
.uteUiDlgFooter {
  right: 10px;
  margin: 8px;
  background-color: transparent;
}
.uteBadge {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  color: #f9fcff;
  text-align: center;
  font: 400 0.75rem 'Source Sans Pro', sans-serif;
  margin: 2px;
}
.uteBadgeAlert {
  background-color: #c0272d;
}
.uteBadgeAttention {
  background-color: #f2a814;
}
.uteBadgeRegular {
  background-color: #5bc2af;
}
.uteBtn {
  margin: 2px;
}
.uteBtn.uteButton-general {
  border-radius: 3px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 10pt;
  width: 110px;
  height: 36px;
}
.uteBtn > .uteButton-general:disabled {
  color: #000000;
  background-color: rgba(234, 239, 244, 0.95);
}
.uteBtn > .uteButton-general:disabled:hover {
  color: #000000;
  background-color: rgba(234, 239, 244, 0.95);
}
.uteBtn > .uteButton-save {
  color: #ffffff;
  background-color: #5092ce;
}
.uteBtn > .uteButton-save:hover {
  color: #ffffff;
  background-color: #83bbe5;
}
.uteBtn > .uteButton-cancel {
  color: #ffffff;
  background-color: #989898;
}
.uteBtn > .uteButton-cancel:hover {
  color: #ffffff;
  background-color: #83bbe5;
}
.uteBtn > .uteButton-info {
  color: #ffffff;
  background-color: #5bc2af;
}
.uteBtn > .uteButton-info:hover {
  color: #ffffff;
  background-color: #83bbe5;
}
.uteBtn > .uteButton-tools {
  color: #83bbe5;
  background-color: #f9fcff;
}
.uteBtn > .uteButton-tools:hover {
  color: #ffffff;
  background-color: #83bbe5;
}
/**

.uteUiBtn3{
    color:@uteColorBlueLink;
    background-color: @uteColorBluePearl ;;
    padding-left: 120px;
    padding-right: 120px;
}

.uteUiBtn3:hover{
    color:@uteColorWhite;
    background-color: @uteColorLightBlue;
}

.uteUiBtn4{
    background-color: transparent;
    outline: initial;
}

.uteUiBtn4Icon{
    fill: @uteColor-blueLink;
}

.uteUiBtn4Icon:hover{
    fill:@uteColor-lightBlue;
}

.uteUiBtnInact{
    background-color: @uteColorBluePearl;
}
.uteUiBtnInact:hover{
    background-color: @uteColorBluePearl;
}
**/
.uteUiToggleButton {
  margin: 10px ;
  padding-top: 1px ;
  padding-bottom: 1px ;
  padding-right: 1px ;
  background-color: #5092ce;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border: 0;
}
.uteUiToggleLeftButton {
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  padding: 5px;
  background-color: transparent;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border: 0 ;
}
.uteUiToggleRightButton {
  margin-left: 0px;
  margin-top: 1px;
  margin-right: 1px ;
  margin-bottom: 1px;
  padding: 5px;
  background-color: transparent;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border: 0 ;
}
.uteUiToggleLeftButtonSelected {
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  padding: 5px;
  background-color: #eaeff4;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border: 0 ;
}
.uteUiToggleRightButtonSelected {
  margin-left: 0px;
  margin-top: 1px;
  margin-right: 1px ;
  margin-bottom: 1px;
  padding: 5px;
  background-color: #eaeff4;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border: 0 ;
}
.uteUiInputType1 {
  height: 40px ;
  text-indent: 16px ;
  background-color: #eaeff4;
  border-radius: 5px ;
  border-width: 1px ;
  border-style: solid;
  border-color: #989898;
  outline: none;
  font: 400 16pt 'Source Sans Pro', sans-serif;
}
.uteUiInputType1:focus {
  background-color: #f9fcff;
  outline: none;
}
.uteUiInputType2 {
  height: 33px;
  line-height: 25px;
  padding: 0px;
  text-indent: 6px ;
  border-color: #989898;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-top: 11px;
  margin-bottom: 11px;
  position: relative;
  top: 3px;
  outline: none;
  background-color: transparent ;
  font: 400 16pt 'Source Sans Pro', sans-serif;
}
.uteUiInputType2Label {
  display: inline;
  position: relative;
  top: 10px;
  margin-right: 5px;
  font: 400 14pt 'Source Sans Pro', sans-serif;
}
.uteCheckBox {
  display: inline-block;
  position: relative;
  margin: 50px;
}
.uteCheckBox > label {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #5092ce;
}
.uteCheckBox > input:checked + label {
  background-color: #5092ce;
}
.uteCheckBox > input:checked + label::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 6.5px;
  width: 9px;
  height: 16px;
  border: 2px solid #ffffff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
.uteCheckBox > input {
  display: none;
}
.uteCheckBoxText {
  font: 400 14pt 'Source Sans Pro', sans-serif;
  position: relative;
  bottom: 6px;
  margin: 2px;
  padding: 2px ;
}
.uteRadioButton > input {
  box-sizing: border-box;
  display: none;
}
.uteRadioButton > input:checked + label {
  box-sizing: border-box;
  border: 7px solid deepskyblue;
}
.uteRadioButton > label {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px ;
  height: 20px ;
  width: 20px ;
  border-radius: 10px;
  border: 2px solid deepskyblue;
}
.uteRadioButton > text {
  position: absolute;
  box-sizing: border-box;
  margin-left: 5px;
}
.uteRedCrossSign {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 4px;
}
.uteRedCrossSign::after,
.uteRedCrossSign::before {
  position: absolute;
  top: 9px;
  left: 0px;
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: red;
}
.uteRedCrossSign::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.uteRedCrossSign::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.uteUiCommonsHoriDiv {
  display: block;
  width: 100%;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
}
.uteUiCommonsHoriDivTypePage {
  border-width: 2px 0px 0px 0px;
  border-color: #4d4d4d;
  border-style: solid;
}
.uteUiCommonsHoriDivTypeArea {
  border-width: 1px 0px 0px 0px;
  border-color: #4d4d4d;
  border-style: solid;
}
.uteUiCommonsHoriDivTypeDashed {
  border-width: 1px 0px 0px 0px;
  border-color: #4d4d4d;
  border-style: dashed;
}
.uteUiCommonsHoriDivTypeDotted {
  border-width: 1px 0px 0px 0px;
  border-color: #4d4d4d;
  border-style: dotted;
}
.uteUiCommonsHoriDivHeightR {
  margin-top: 0px;
  margin-bottom: 0px;
}
.uteUiCommonsHoriDivHeightS {
  margin-top: 1px auto;
  margin-bottom: 1px auto;
}
.uteUiCommonsHoriDivHeightM {
  margin-top: 6px auto;
  margin-bottom: 6px auto;
}
.uteUiCommonsHoriDivHeightL {
  margin-top: 13px auto;
  margin-bottom: 13px auto;
}
