.nrgCamChg {
            font-family: @nrgFontFamily;

    & > .nrgCamChg-ttl {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &   .nrgCamChg-lbl {
            font-weight: @nrgFontWeight-semiBold;
            color: @nrgColor-inactiveGrey;
    }
    &   .nrgCamChg-left {
            margin-left: 22px;
     }
    &   .nrgCamChg-top {
            margin-top: 20px;
    }
    & > .nrgCamChg-mtx {
            font-family: @nrgFontFamily;
    }
    & > .nrgCamChg-btnTag {
            text-align: right;
    }
    &  .nrgCamChg-btn {
        margin: 10px;
    }
}


