.nrgCamHis-dialog {
    & > .uteDialogHdr {
            margin: 4px;
            height: 40px;
    }
    & > .uteUiDlgCont {
            margin: 0px;
    }
}

.nrgCamHis {
            font-family: @nrgFontFamily;
            width:750px;
            height:auto;
    &   .nrgCamHis-left {
            margin-left: 15px;
     }
    &   .nrgCamHis-top {
            margin-top: 20px;
    }
    & > div > .nrgCamHis-Div {
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid @nrgColor-grey-highlight;
    }
    & > div > .nrgCamHis-Mtx{
            font-family: @nrgFontFamily;
    }
    & > div > .nrgCamHis-scroll{
            overflow: auto;
            outline: 0px;
            display: inline-block;
            margin: auto;
    }
    & > div > .nrgCamHis-scroll > .sapMScrollContScroll > .nrgCamHis-but {
            width: 268px;
            height:126px;
            margin:3px 3px 3px 3px;
            background-color: @nrgColor-grey-highlight;
            float:left;
            margin-left: 3rem;
    }
    & > div > .nrgCamHis-scroll > .sapMScrollContScroll > .nrgCamHis-but > .nrgCamHis-but-date{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            text-align: left;
            padding-left: 10px;
            border-bottom: 0.1rem dashed @nrgColor-bluePearl;
            padding-bottom: 5px
    }
    & > div > .nrgCamHis-scroll > .sapMScrollContScroll > .nrgCamHis-but > .nrgCamHis-but-title{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-semiBold;
            width: auto;
            padding-top: 5px;
    }
    & > div > .nrgCamHis-scroll > .sapMScrollContScroll > .nrgCamHis-but > .nrgCamHis-but-price{
            font-size: @nrgFontSize-largest;
            font-weight: @nrgFontWeight-regular;
            margin-left: 10px;
            margin-top: 10px;
            text-align: left;
    }
    & > div > .nrgCamHis-scroll > .sapMScrollContScroll > .nrgCamHis-but > .nrgCamHis-but-priceLbl{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > div > .nrgCamHis-scroll > .sapMScrollContScroll > .nrgCamHis-but-selected {
            background-color: @nrgColor-grey-light;
            color:@nrgColor-white;
    }
/*    & > div > .nrgCamHis-infoTable {
            display:inline-block;
    }*/
    &  .nrgCamHis-hide {
            display:none;
    }
    &  .nrgCamOvr-infoline {
            overflow-x: hidden;
            max-height: 10rem;
    }
}


