.nrgCmpOffT {
            font-family: @nrgFontFamily;

    & > .nrgCamOffTtlT {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOffPart-Tiles {
            display: inline-block;
            white-space: nowrap;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiers{
            width:10%;
            float:left;
            display:inline-block;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiers > .nrgCmpOffTier{
            margin-bottom: 10px;
            margin-top: 10px;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles{
            width:87%;
            display:inline-block;
            white-space: normal;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles > .nrgCamOffScroll{
            overflow: auto;
            text-align: right;
            outline: 0px;
            margin-top: 10px;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt {
            width: 268px;
            height:126px;
            margin:3px 3px 3px 3px;
            background-color: @nrgColor-grey-highlight;
            color:@nrgColor-grey-dark;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBt-Ttl {
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-semiBold;
            padding-top: 5px;
            width: 75%;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBt-Prc{
            font-size: @nrgFontSize-largest;
            font-weight: @nrgFontWeight-regular;
            margin-left: 10px;
            margin-top: 10px;
            text-align: left;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBt-PrcLbl{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBtinfo > .nrgCamOffBt-CF{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt > .nrgCamOffBtinfo > .nrgCamOffBt-PC{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOffPart-Tiles > .nrgCmpOffTiles > .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt-Selected {
            background-color: @nrgColor-grey-light;
            color:@nrgColor-white;
    }
    & > .nrgCmpOffPart-Display {
            white-space: normal;
            margin-top: 15px;
    }
    & > .nrgCmpOffPart-Display > .nrgCmpOffCompare {
            width: 12%;
            display: inline-block;
            background-color: #f9fcff;
            margin-right: 20px;
            float: left;
            text-align: center;
            height: 16rem;
    }
    &  > .nrgCmpOffPart-Display > .nrgCmpOffDisplay-1 {
            width:40%;
            display:inline-block;
            background-color: @nrgColor-blue-pearl;
            margin-right: 20px;
            padding: 10px 10px 10px 10px;
    }
    &  > .nrgCmpOffPart-Display > .nrgCmpOffDisplay-2 {
            width:40%;
            display:inline-block;
            background-color: @nrgColor-blue-pearl;
            padding: 10px 10px 10px 10px;
    }
    & > .nrgCmpOffPart-Display > .nrgCmpOffDisplay-1 > .nrgCamOffPrcTbl {
            margin:10px 0px 0px 0px;
    }
    & > .nrgCmpOffPart-Display > .nrgCmpOffDisplay-2 > .nrgCamOffPrcTbl {
            margin:10px 0px 0px 0px;
    }
    & > .nrgCmpOffPart-Display > .nrgCmpOffCompare> .nrgCamOffTtlC {
            margin-top: 10px;
            font-size: @nrgFontSize-small;
    }
    & > .nrgCmpOffPart-Display > .nrgCmpOffCompare >.nrgCamOffCmpBtnI {
            margin-bottom: 10px;
            margin-top: 3rem;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOffPart-Display > .nrgCmpOffCompare >.nrgCamOffCmpBtnC {
            margin-bottom: 10px;
            margin-top: 10px;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &   .nrgCamOff-left {
            margin-left:10px;
    }
    &   .nrgCamOff-Top {
            margin-Top:10px;
    }
    &   .nrgCamOffMtxFstCell {
            width:80%;
    }
    &   .nrgCamOffMtxFstCell {
            width:80%;
    }
    &   .nrgCamOffMtxRow {
            border-bottom:  1px dashed @nrgColor-grey-highlight;
            line-height: 25px;
    }
    & > .nrgCamOffDisc{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-semiBold;
            width: 86%;
            margin-top: 2px;
            margin-left: 15%;
    }
    & > .nrgCamOffSearch {
            background: transparent;
            border-bottom: 1px solid @nrgColor-grey-highlight;
            margin-left: 45%;
            width: 50%;
            height: 1.5rem;
    }
    & > .nrgCamOffSearch > form {
            background: transparent;
            border: 0px;
            font-family: @nrgFontFamily;
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            line-height: 0px;
            height: 1.5rem;
    }
    & > .nrgCamOffSearch > form > input {
            height: 1.5rem;
    }
    & > .nrgCamOffSearch > form > div {
            height: 1.5rem;
            line-height: 1.5rem;
    }
}
