.nrgCmpOff {
            font-family: @nrgFontFamily;
            @nrgCamOffers-redcolor : red;
            @nrgCamOffers-yellowcolor : yellow;

    &  .nrgCamOff-ttl {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
            display:inline-block;
    }
    & > .nrgCmpOff-partTiles {
/*            display: inline-block;
            white-space: nowrap;*/
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiers{
            width:10%;
            float:left;
            display:inline-block;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiers > .nrgCmpOff-tier{
/*            margin-bottom: 10px;
            margin-top: 10px;*/
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-regular;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiers > .nrgCmpOff-tier > .nrgCamOff-btn-selected{
            color: @nrgColor-grey-light;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles{
            width: 89%;
            display: inline-block;
            white-space: normal;
        	margin-left: 10px;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll{
            overflow: auto;
            outline: 0px;
            margin-top: 10px;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn {
            width: 268px;
            height:126px;
            margin:3px 3px 3px 3px;
            background-color: @nrgColor-grey-highlight;
            color:@nrgColor-green-pale;
            float:left;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-ttlinfo  {
            display:inline-block;
            width: 60%;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-feeinfo  {
            display:inline-block;
            width: 40%;
            float: right;
            text-align: right;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-ttlinfo > .nrgCamOff-btnTtl {
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            padding-top: 5px;
	        height: 35px;
            overflow: hidden;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-feeinfo > .nrgCamOff-Canfee {
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            padding-top: 5px;
            overflow: hidden;
            color: @nrgCamOffers-redcolor;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-feeinfo > .nrgCamOff-Inc {
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            overflow: hidden;
            color: @nrgCamOffers-yellowcolor;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnPrc{
            font-size: @nrgFontSize-largest;
            font-weight: @nrgFontWeight-regular;
            margin-left: 10px;
            margin-top: 10px;
            text-align: left;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnPrcLbl{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-btnCF{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-ttlinfo > .nrgCamOff-btnPC{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-regular;
            display:inline-block;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn-selected {
            background-color: @nrgColor-grey-light;
            color: @nrgColor-white;
    }
    & > .nrgCmpOff-partDisplay {
            white-space: normal;
            margin-top: 15px;
    }
    & > .nrgCmpOff-partDisplay > .nrgCmpOff-compare {
            width: 10%;
            display: inline-block;
            background-color: #f9fcff;
            float: left;
            text-align: center;
            height: 15.1rem;
    }
    &  .nrgCmpOff-display-invoice {
            width:100%;
            display:inline-block;
    }
    &  .nrgCmpOff-display-consumption{
            width:100%;
            display:inline-block;
    }
    &  .nrgCamOff-prcTbl {
            margin:10px 0px 0px 0px;
    }
    & > .nrgCmpOff-partDisplay > .nrgCmpOff-compare> .nrgCamOff-ttlC {
            margin-top: 10px;
            font-size: @nrgFontSize-small;
    }
    & > .nrgCmpOff-partDisplay > .nrgCmpOff-compare >.nrgCamOff-cmpBtnI {
            margin-bottom: 10px;
            margin-top: 3rem;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOff-partDisplay > .nrgCmpOff-compare >.nrgCamOff-cmpBtnC {
            margin-bottom: 10px;
            margin-top: 10px;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &   .nrgCamOff-left {
            margin-left:10px;
    }
    &   .nrgCamOff-top {
            margin-Top:10px;
    }
    &   .nrgCamOff-mtxFstCell {
            width:80%;
    }
    &   .nrgCamOff-mtxRow {
            border-bottom:  1px dashed @nrgColor-grey-highlight;
            line-height: 25px;
    }
    & > .nrgCamOff-disc{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-semiBold;
            width: 86%;
            margin-top: 2px;
            margin-left: 12%;
    }
    & > .nrgCamOff-searchArea > .nrgCamOff-search {
            background: transparent;
            border-bottom: 1px solid @nrgColor-grey-highlight;
            margin-left: 45%;
            width: 50%;
            height: 1.5rem;
            display:inline-block;
    }
    & > .nrgCamOff-searchArea > .nrgCamOff-search > form {
            background: transparent;
            border: 0px;
            font-family: @nrgFontFamily;
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            line-height: 0px;
            height: 1.5rem;
    }
    & > .nrgCamOff-searchArea > .nrgCamOff-search > form > input {
            height: 1.5rem;
    }
    & > .nrgCamOff-searchArea > .nrgCamOff-search > form > div {
            height: 1.5rem;
            line-height: 1.5rem;
    }
    & > .nrgCamOff-searchArea > .nrgCamOff-disc {
            display:inline-block;
    }
    &   .nrgCamOvr-selectBtn {
            color: @nrgColor-blueLink;
            float:right;
    }
    &   .nrgCmpOff-tabPanel {
            width:90%;
            background-color: transparent;
    }
    &   .nrgCamOff-consF {
            width:45%;
            display:inline-block;
            background-color: @nrgColor-blue-pearl;
            margin-left: 20px;
            padding-left: 10px;
    }
    &   .nrgCamOffInvoiceF {
            width:48%;
            display:inline-block;
            background-color: @nrgColor-blue-pearl;
            margin-left: 15px;
            padding: 5px 5px 5px 5px;
    }
    &   .nrgCmpOff-tabPanelItem {
            background: transparent;

    }
    &   .nrgCamOff-tabBarItem {
            margin-top: 10px;
            color: @nrgColor-grey-inactive;
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
    }
    &   .nrgCamOff-tabBar {
            margin-top: 4rem;
    }
    &   .nrgCamOff-tabBarItem > .uteMTabBarItem-int:checked + .uteMTabBarItem-content {
            color: @nrgColor-blueLink;
    }
    &  .nrgCamOff-hide {
            display:none;
    }
    &   .nrgCamOff-div {
            padding-bottom: 5px;
            border-bottom: 1px solid @nrgColor-grey-light;
    }
    &   .nrgCamHis-noData {
            width: 100%;
            height: 100px;
            text-align: center;
            margin: 8rem 1rem 1rem 1rem;
    }
    &   .nrgCamOff-diff {
            color: @nrgColor-orange-attention;
    }
    &   .nrgCamOff-cardTitle {
            color: @nrgColor-grey-dark;
    }
    &   .nrgCmpOff-div {
        	border-bottom: 1px dashed @nrgColor-grey-highlight;
	        margin-top: 8px;
    }

}
