.nrgCmpOff {
            font-family: @nrgFontFamily;

    & > .nrgCamOff-ttl {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOff-partTiles {
            display: inline-block;
            white-space: nowrap;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiers{
            width:10%;
            float:left;
            display:inline-block;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiers > .nrgCmpOff-tier{
            margin-bottom: 10px;
            margin-top: 10px;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles{
            width:auto;
            display:inline-block;
            white-space: normal;
            margin-left: 3rem;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll{
            overflow: auto;
            text-align: right;
            outline: 0px;
            margin-top: 10px;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn {
            width: 268px;
            height:126px;
            margin:3px 3px 3px 3px;
            background-color: @nrgColor-grey-highlight;
            color:@nrgColor-grey-dark;
            float:left;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnTtl {
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-semiBold;
            padding-top: 5px;
            width: 75%;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnPrc{
            font-size: @nrgFontSize-largest;
            font-weight: @nrgFontWeight-regular;
            margin-left: 10px;
            margin-top: 10px;
            text-align: left;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnPrcLbl{
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-btnCF{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn > .nrgCamOff-btnInfo > .nrgCamOff-btnPC{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-regular;
            text-align: right;
    }
    & > .nrgCmpOff-partTiles > .nrgCmpOff-tiles > .nrgCamOff-scroll > .sapMScrollContScroll > .nrgCamOff-btn-selected {
            background-color: @nrgColor-grey-light;
            color: @nrgColor-white;
    }
    & > .nrgCmpOff-partDisplay {
            white-space: normal;
            margin-top: 15px;
    }
    & > .nrgCmpOff-partDisplay > .nrgCmpOff-compare {
            width: 12%;
            display: inline-block;
            background-color: #f9fcff;
            float: left;
            text-align: center;
            height: 16rem;
    }
    &  .nrgCmpOff-display-invoice {
            width:100%;
            display:inline-block;
    }
    &  .nrgCmpOff-display-consumption{
            width:100%;
            display:inline-block;
    }
    &  .nrgCamOff-prcTbl {
            margin:10px 0px 0px 0px;
    }
    & > .nrgCmpOff-partDisplay > .nrgCmpOff-compare> .nrgCamOff-ttlC {
            margin-top: 10px;
            font-size: @nrgFontSize-small;
    }
    & > .nrgCmpOff-partDisplay > .nrgCmpOff-compare >.nrgCamOff-cmpBtnI {
            margin-bottom: 10px;
            margin-top: 3rem;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpOff-partDisplay > .nrgCmpOff-compare >.nrgCamOff-cmpBtnC {
            margin-bottom: 10px;
            margin-top: 10px;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &   .nrgCamOff-left {
            margin-left:10px;
    }
    &   .nrgCamOff-top {
            margin-Top:10px;
    }
    &   .nrgCamOff-mtxFstCell {
            width:80%;
    }
    &   .nrgCamOff-mtxFstCell {
            width:80%;
    }
    &   .nrgCamOff-mtxRow {
            border-bottom:  1px dashed @nrgColor-grey-highlight;
            line-height: 25px;
    }
    & > .nrgCamOff-disc{
            font-size: @nrgFontSize-smaller;
            font-weight: @nrgFontWeight-semiBold;
            width: 86%;
            margin-top: 2px;
            margin-left: 15%;
    }
    & > .nrgCamOff-search {
            background: transparent;
            border-bottom: 1px solid @nrgColor-grey-highlight;
            margin-left: 45%;
            width: 50%;
            height: 1.5rem;
    }
    & > .nrgCamOff-search > form {
            background: transparent;
            border: 0px;
            font-family: @nrgFontFamily;
            font-size: @nrgFontSize-small;
            font-weight: @nrgFontWeight-regular;
            line-height: 0px;
            height: 1.5rem;
    }
    & > .nrgCamOff-search > form > input {
            height: 1.5rem;
    }
    & > .nrgCamOff-search > form > div {
            height: 1.5rem;
            line-height: 1.5rem;
    }
    &   .nrgCamOvr-selectBtn {
            color: @nrgColor-blueLink;
            float:right;
    }
    &   .nrgCmpOff-tabPanel {
            width:85%;
            background-color: transparent;
    }
    &   .nrgCamOff-consF {
            width:45%;
            display:inline-block;
            background-color: @nrgColor-blue-pearl;
            margin-left: 20px;
            padding-left: 10px;
    }
    &   .nrgCamOffInvoiceF {
            width:45%;
            display:inline-block;
            background-color: @nrgColor-blue-pearl;
            margin-left: 20px;
            padding-left: 10px;
    }
    &   .nrgCmpOff-tabPanelItem {
            background: transparent;

    }
    &   .nrgCamOff-tabBarItem {
            margin-top: 10px;
            color: @nrgColor-grey-inactive;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &   .nrgCamOff-tabBar {
            margin-top: 20px;
    }
    &   .nrgCamOff-tabBarItem {
            margin-top: 10px;
            color: @nrgColor-grey-inactive;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &   .nrgCamOff-tabBarItem > .uteMTabBarItem-int:checked + .uteMTabBarItem-content {
            color: @nrgColor-blueLink;

    }
}
