.nrgCamSS {
            font-family: @nrgFontFamily;

    & > .nrgCamSS-ttl {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &  .nrgCamSS-lbl {
            font-weight: @nrgFontWeight-semiBold;
            color: @nrgColor-inactiveGrey;
    }
    &  .nrgCamSS-left {
            margin-left: 22px;
     }
    &  .nrgCamSS-top {
            margin-top: 20px;
    }
    & > .nrgCamSS-mtx {
            font-family: @nrgFontFamily;
    }
    & > .nrgCamSS-btnTag {
            float: right;
    }
    & > .nrgCamSS-DdL {
            position: relative;
    }
    &  .nrgCamSS-DisRn {
            display: inline-block;
    }
    & > .nrgCamSS-Dsc > .nrgCamSS-mdlbl {
            font-size: @nrgFontSize-large;
            font-weight: @nrgFontWeight-bold;
            color: @nrgColor-inactiveGrey;
    }
}
.nrgCamOvs-dialog {
        &  .nrgCamOvs-top {
            margin-top: 20px;
    }

}
