.nrgCamTls {
            font-family: @nrgFontFamily;

    & > .nrgCamTls-ttl {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
            text-align: center;
    }
    & > .nrgCamTls-btnTag {
            text-align: center;
    }
    & > .nrgCamTls-btnTag > .nrgCamTls-btn:disabled {
            color: #fff;
            background-color: @nrgColor-grey-light;
    }
    &  .nrgCamTls-top {
            margin-top: 20px;
    }
}

.nrgCamTls-dialog {
    &  .nrgCamTls-top {
            margin-top: 20px;
    }
    &  .nrgCamTls-left {
            margin-left: 10px;
    }
    &  .nrgCamTls-font {
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-regular;
    }
}
.nrgCamTls-hide {
    display:none;
}
