.nrgDashboard-calrNoIDSearch{
    font-family: @nrgFontFamily;

    & > .nrgDashboard-calrNoIDSearch-title{
        margin-left: 8px;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }

    & > .nrgDashboard-calrNoIDSearch-textfield{
        font-size: @nrgFontSize-small;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    & > .nrgDashboard-calrNoIDSearch-textfield > .nrgDashboard-calrNoIDSearch-textfield-input > input{
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    & > .nrgCallerNoIDSearch-sbtn{
        margin-top: 25px;
        margin-left: 900px;
    }


    &.nrgDashboard-calrNoIDSearch-transSpace{
        background-color: transparent;
        height: 10px;
    }

    & > .nrgDashboard-calrNoIDSearch-resultTitle{
        margin-left: 8px;
        font-size: @nrgFontSize-large;
        font-weight: @nrgFontWeight-bold;
    }
}
