.nrgDashboard-cusDataSum{
    font-family: @nrgFontFamily;

    & > .nrgDashboard-cusDataSum-bpName{
        font-size: @nrgFontSize-large;
        margin-bottom: 10px;
        margin-top: 0;
    }

    & > .nrgDashboard-cusDataSum-bpName > span{
        font-weight: @nrgFontWeight-bold;
    }

    & > .nrgDashboard-cusDataSum-badge{
        margin-right: 8px;
        margin-bottom: 10px;
    }

    & > .nrgDashboard-cusDataSum-bpCaArea{

    }

    & > .nrgDashboard-cusDataSum-bpCaArea > .nrgDashboard-cusDataSum-bpLabel > span{
        font-weight: @nrgFontWeight-semiBold;
        font-size: @nrgFontSize-base;
    }

    & > .nrgDashboard-cusDataSum-bpCaArea > span{
        margin-left: 8px;
        color: @nrgColor-blue-link;
        font-weight: @nrgFontWeight-semiBold;
        font-size: @nrgFontSize-base;
    }

    & > .nrgDashboard-cusDataSum-horiLine{
        border-color: @nrgColor-grey-highlight;
    }

    &> .nrgDashboard-cusDataSum-weather{
        width: 100%;
    }

    & > .nrgDashboard-cusDataSum-weather > .nrgDashboard-cusDataSum-weatherLeft{
        width:20%;
    }

    & > .nrgDashboard-cusDataSum-weather > .nrgDashboard-cusDataSum-weatherRight{
        width:80%;
    }

}
