.nrgDashboard-calrNoIDSearch{
    font-family: @nrgFontFamily;

    & > .nrgDashboard-calrNoIDSearch-title{
        font-size: @nrgFontSize-base;
    }

    & > .nrgDashboard-calrNoIDSearch-textfield{
        font-size: @nrgFontSize-small;
    }

}
