.nrgDashboard-cusDataVerify{
    height: 400px;

    /*CSS for layouts*/
    & > .nrgDashboard-cusDataVerify-layout{
        padding: 0;
        margin: 0;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l{
        padding-right: 32px;
        border-right: @nrgColor-grey-light;
        border-right-style: dashed;
        border-right-width: thin;
    }

     & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div{
        background-color: @nrgColor-bluePearl;
        border-radius: 2px;
        height: 350px;
        padding: 10px;
     }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m{
        padding-left: 32px;
        padding-right: 28px;
    }

     & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > div{
        background-color: @nrgColor-bluePearl;
        border-radius: 2px;
        height: 350px;
    }

    /*Starting from here are for text style and alignment*/
    & .nrgDashboard-cusDataVerify-horDvi{
        border-color: @nrgColor-grey-light;
        border-style: dashed;
    }

    & > & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > .nrgDashboard-cusDataVerify-l-div-title{

    }
}
