.uteTv {
	font-family: @uteFontFamily;
	//font-size: @uteFontSize-small;
    font-weight: 700;
	//vertical-align: top;
	line-height: @uteLineHeight-base;
	//display: inline-block;

}

.uteTv-Small {
    font-size: @uteFontSize-small;
}

.uteTv-Base {
font-size: @uteFontSize-base;
}

.uteTv-Large {
font-size: @uteFontSize-large;
}

