@import '../../../ute/ui/commons/themes/base/core/typography.less';

// Typography for application
// Use one of the following predefined font values!!!
// Do not hardcode directly in your application

// Font family
// --------------------------------------------------------------
@nrgFontFamily: @uteFontFamily;

// Font weight
// --------------------------------------------------------------
@nrgFontWeight-regular:  @uteFontWeight-regular;
@nrgFontWeight-semiBold: @uteFontWeight-semiBold;
@nrgFontWeight-bold:     @uteFontWeight-bold;

// Font size
// --------------------------------------------------------------
@nrgFontSize-micro:    @uteFontSize-micro;
@nrgFontSize-smallest: @uteFontSize-smallest;
@nrgFontSize-smaller:  @uteFontSize-smaller;
@nrgFontSize-small:    @uteFontSize-small;
@nrgFontSize-base:     @uteFontSize-base;
@nrgFontSize-large:    @uteFontSize-large;
@nrgFontSize-larger:   @uteFontSize-larger;
@nrgFontSize-largest:  @uteFontSize-largest;
@nrgFontSize-jumbo:    @uteFontSize-jumbo;

// Line height
// --------------------------------------------------------------
@nrgLineHeight-tightest: @uteLineHeight-tightest;
@nrgLineHeight-tighter:  @uteLineHeight-tighter;
@nrgLineHeight-tight:    @uteLineHeight-tight;
@nrgLineHeight-base:     @uteLineHeight-base;
@nrgLineHeight-loose:    @uteLineHeight-loose;
@nrgLineHeight-looser:   @uteLineHeight-looser;

// Letter spacing
// --------------------------------------------------------------
@nrgLetterSpacing-tightest: @uteLetterSpacing-tightest;
@nrgLetterSpacing-tighter:  @uteLetterSpacing-tighter;
@nrgLetterSpacing-tight:    @uteLetterSpacing-tight;
@nrgLetterSpacing-normal:   @uteLetterSpacing-normal;
@nrgLetterSpacing-loose:    @uteLetterSpacing-loose;
@nrgLetterSpacing-looser:   @uteLetterSpacing-looser;

// Font faces
// --------------------------------------------------------------
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('core/font/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('core/font/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('core/font/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: url('core/font/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('core/font/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url('core/font/SourceSansPro-BoldItalic.ttf') format('truetype');
}

// Special font faces for icons
// --------------------------------------------------------------
@font-face {
	font-family: 'nrg-icon';
	src:url('core/font/icon.eot?');
	src:url('core/font/icon.eot?#iefix') format('embedded-opentype'),
		url('core/font/icon.woff?') format('woff'),
		url('core/font/icon.ttf?') format('truetype'),
		url('core/font/icon.svg?#nrg-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
