.nrgUsg {
            font-family: @nrgFontFamily;
            font-size: @nrgFontSize-base;

    & > .nrgUsg-ttl {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpUsg-side1 {
            font-weight: 400;
     }
    & > .nrgUsg-tiers {
            width:13.5%;
            display:inline-block;
            border-right : 1px solid @nrgColor-grey-light;
            height: 35rem;
    }
    & > .nrgUsg-tiers > .nrgUsg-tier {
            margin-bottom: 10px;
            margin-top: 10px;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgUsg-tiers > .nrgUsg-tier > .nrgUsg-btn-selected {
            color: @nrgColor-grey-inactive;
    }
    & > .nrgUsg-Table {
            margin-left: 1rem;
            display:inline-block;
            vertical-align: top;

            & > .nrgUsg-ttl {
                    margin-left: 8px;
                    font-size: @nrgFontSize-base;
                    font-weight: @nrgFontWeight-semiBold;
                    display: inline-block;
            }
            & > .nrgUsg-Radio {
                    display: inline-block;
                    width: 10rem;
                    float : right;
                    & > .nrgUsg-RadioLabel {
                        margin: 0px 5px;
                    }
            }
            &   .uteMIl-hdrContent, .nrgUsgTable-inside {
                    width: 100%;
                    max-width: 100%;
            }
            &  > .nrgUsgTable-header {
                    background-color: @nrgColor-blue-pearl;
                    line-height: 25px;
                    width: 53rem;
                    max-width: 53rem;
                    color: @nrgColor-grey-dark;
                    font-size: @nrgFontSize-small;
	                font-weight: @nrgFontWeight-semiBold;
                    & > .nrgUsgTable-hd-Dt {
                            width: 20%;
                    }
                    & > .nrgUsgTable-hd-BD, .nrgUsgTable-hd-RD, .nrgUsgTable-hd-Ac, .nrgUsgTable-hd-ch, .nrgUsgTable-hd-dollar {
                            width: 10%;
                    }
                    & > .nrgUsgTable-hd-Wt {
                            width: 16%;
                    }
                    & > .nrgUsgTable-hd-kwh {
                            width: 14%;
                    }
                    & >  .nrgUsgTag-hd {
                            display : inline-block;
                            vertical-align: middle;
                            text-align: center;
                    }
            }
            &  > .nrgUsgTable-Row {
                    font-size: @nrgFontSize-small;
                    & .nrgUsgTable-Infoline {
                        min-width: 53rem;
                        max-width: 53rem;

                        & .uteMIl-hdrExpander {
                            display : none;
                        }
                    }
                    & .nrgUsgTable-Infoline:nth-child(even) {
                        background-color: @nrgColor-blue-pearl;

                    }
                    & .nrgUsgTable-Infoline:nth-child(odd) {
                        background-color: transparent;

                    }
                    & .nrgUsgTable-Data  {
                            display : inline-block;
                            vertical-align: middle;
                            text-align: center;
                    }
                    &   .nrgUsgTable-Data-days {
                            min-width: 8%;
                            max-width: 8%;
                    }
                    &  .nrgUsgTable-Data-ch, .nrgUsgTable-Data-dollar, .nrgUsgTable-Data-kwh, .nrgUsgTable-Data-Ac {
                            min-width: 10%;
                            max-width: 10%;
                    }
                    &  .nrgUsgTable-Data-Wt {
                            min-width: 18%;
                            max-width: 18%;
                    }
                    &  .nrgUsgTable-Data-dt {
                            min-width: 20%;
                            max-width: 20%;
                    }
                    &  .nrgUsgTable-hd-RD {
                            min-width: 14%;
                            max-width: 14%;
                            color: @nrgColor-blueLink;
                    }
                    &  .nrgUsgTable-hd-RDInner {
                            min-width: 14%;
                            max-width: 14%;
                    }
                    &  .nrgUsgTable-inside {
                            background-color: @nrgColor-blue-pearl;
                            margin-bottom: 5px;
                            border: 1px solid @nrgColor-grey-dark;
                            &  .nrgUsgNoData {
                                text-align: center;
                            }
                    }
            }

            &  > .nrgUsgDropDown {
                    &   .nrgUsg-DdLItem {
                            width: 45rem;
                    }

                    &  > .uteMDd-picker {
                            max-height: 100px;
                            overflow-y: auto;
                            overflow-x: hidden;
                    }
                    & > .uteMDd-hdr {
                            border-radius: 0px;
                            border-bottom: 1px solid #4d4d4d;
                            margin-bottom: 4px;
                            cursor: pointer;
                            border-top: 0px;
                            border-right: 0px;
                            border-left: 0px;
                            &  > .uteMDd-hdrContent {
                                    width: 45rem;
                            }
                    }
            }
    }
    &  .nrgUsg-top {
            margin-top: 10px;
    }
    &  .nrgUsg-left {
            margin-left: 22px;
    }
}
