.nrgUsg {
            font-family: @nrgFontFamily;
            font-size: @nrgFontSize-base;

    & > .nrgUsg-ttl {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgCmpUsg-side1 {
            font-weight: 400;
     }
    & > .nrgUsg-tiers {
            width:13.5%;
            display:inline-block;
            border-right : 1px solid @nrgColor-grey-light;
            height: 35rem;
    }
    & > .nrgUsg-tiers > .nrgUsg-tier {
            margin-bottom: 10px;
            margin-top: 10px;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    & > .nrgUsg-tiers > .nrgUsg-tier > .nrgUsg-btn-selected {
            color: @nrgColor-grey-inactive;
    }
    & > .nrgUsg-Table {
            margin-left: 1rem;
            display:inline-block;
            vertical-align: top;

    }
    & > .nrgUsg-Table > .nrgUsg-ttl {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
    }
    &   .nrgUsgTag-hd {
            display : inline-block;
            width: 12.5%;
            vertical-align: middle;
            text-align: center;

    }
    &   .nrgUsgTag {
            display : inline-block;
            width: 12.5%;
            vertical-align: middle;
            text-align: center;
    }
    &  .nrgUsgTag1 {
            display : inline-block;
            width: 10.5%;
            vertical-align: middle;
            text-align: center;
    }
    &  .nrgUsgTag2 {
            display : inline-block;
            width: 14.5%;
            vertical-align: middle;
            text-align: center;
    }
    &  .nrgUsgTag-Date {
            display : inline-block;
            width: 14.5%;
            vertical-align: middle;
            text-align: left;

    }
    &  .nrgUsgTag3 {
            display : inline-block;
            width: 15.5%;
            vertical-align: middle;
            text-align: center;
    }
    &   .uteMIl-hdrContent, .nrgUsgTable-inside {
            width: 49rem;
    }
    &   .nrgUsgTable-header {
            background-color: #989898;
            line-height: 30px;
            border-right: 1px solid @nrgColor-lightGrey;
            box-shadow: inset 2px 0px @nrgColor-lightPaleBlue;
            width: 49rem;
    }
    &   .nrgUsg-DdLItem {
            width: 500px;
    }
    &   .uteMDd-hdrContent {
            width: 500px;
    }
    &   .uteMDd-picker {
            max-height: 100px;
            overflow-y: auto;
            overflow-x: hidden;
    }
    &   .uteMDd-hdr {
            border-radius: 0px;
            border-bottom: 1px solid #4d4d4d;
            margin-bottom: 4px;
            cursor: pointer;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
    }
    &  .nrgUsg-top {
            margin-top: 20px;
    }
    &  .nrgUsg-left {
            margin-left: 22px;
    }
    &  .nrgUsgButton {
            display : inline-block;
            width: 12.5%;
            vertical-align: middle;
            text-align: center;
            color: @nrgColor-blueLink;
            font-size: @nrgFontSize-base;
    }
    &  .nrgUsgTable-inside {
             background-color: @nrgColor-lightGrey;
    }
}
