.nrgAppHdr {
    position: relative;
    height: 70px;
    border-bottom: 6px solid @nrgColor-blueLink;
    background-color: @nrgColor-white;
    padding: 0 40px;

    // Logo
    & > .nrgAppHdr-logo {
        margin-top: 20px;
        background: data-uri('../img/nrg-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }

    // Title
    & > .nrgAppHdr-title {
        font: @nrgFontWeight-regular @nrgFontSize-large @nrgFontFamily;
        color: @nrgColor-darkGrey;
        margin: 30px 0 0 30px;
    }

    // List
    & > .nrgAppHdr-list {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    // List item
    & > .nrgAppHdr-list > .nrgAppHdr-listItem {
        display: inline-block;
        margin-left: 40px;
    }

    & > .nrgAppHdr-list > .nrgAppHdr-listItem.nrgAppHdr-listItem-divider::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 12px;
        background-color: @nrgColor-lightGrey;
        transform: translate(20px, 36px);
    }

    & > .nrgAppHdr-list > .nrgAppHdr-listItem > .nrgAppHdr-listItemLink {
        display: inline-block;
        padding-top: 31px;
        padding-bottom: 9px;
        color: @nrgColor-darkGrey;
    }

    & > .nrgAppHdr-list > .nrgAppHdr-listItem > .nrgAppHdr-listItemLink:hover {
        color: @nrgColor-blueLink;
        cursor: default;
    }

    & > .nrgAppHdr-list > .nrgAppHdr-listItem > .nrgAppHdr-listItemLink > .nrgAppHdr-listItemLinkIcon {
        font-size: 18px;
        transform: translate(0, 2px);
    }

    // List item submenu
    & > .nrgAppHdr-list > .nrgAppHdr-listItem > .nrgAppHdr-listItemSub {
        display: none;
        position: absolute;
        background-color: @nrgColor-blueLink;
        border-bottom: 6px solid @nrgColor-darkGrey;
        width: 100%;
        left: 0;
    }

    & > .nrgAppHdr-list > .nrgAppHdr-listItem.nrgAppHdr-listItem-open > .nrgAppHdr-listItemSub {
        display: block;
    }

    //List item submenu content
    & .nrgAppHdr-list > .nrgAppHdr-listItem > .nrgAppHdr-listItemSub > .nrgAppHdr-listItemSubInner {
        position: relative;
        padding: 10px 40px;
    }

    // Hide list when the screen is too small
    @media screen {
        @media (max-width: 1005px) {
            & > .nrgAppHdr-list {
                display: none;
            }
        }
    }
}
