.uteVizHBUsage {

    .uteVizHBUsage-board {

        & .uteVizHBUsage-xGrid {
            stroke: gold;
        }

        & .uteVizHBUsage-yGrid {
            stroke: gold;
        }

        & .uteVizHBUsage-xAxis {

        }

        & .uteVizHBUsage-yAxis {

        }

        & .uteVizHBUsage-line {
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }

        & .uteVizHBUsage-area {
            stroke: none;
            fill: antiquewhite;
            opacity: 0.8;
        }

        & .uteVizHBUsage-dataPt {
            fill: tomato;
        }
    }
}
