.uteVizHBUsage {

    .uteVizHBUsage-board {

        & .uteVizHBUsage-xGrid {
            & .tick line {
                stroke: @uteColor-white;
                stroke-width: 1;
            }

            & .domain {
                fill: none;
                stroke: none;
            }
        }

        & .uteVizHBUsage-yGrid {
            & .tick line {
                stroke: @uteColor-white;
                stroke-width: 1;
            }

            & .tick:first-child line {
                fill: none;
                stroke: none;
            }

            & .domain {
                fill: none;
                stroke: none;
            }
        }

        & .uteVizHBUsage-xAxis {

            & line {
                fill: none;
			    stroke: none;
            }

            & .domain {
                fill: none;
                stroke: none;
            }
        }

        & .uteVizHBUsage-yAxis {

            & line {
                fill: none;
			    stroke: none;
            }

            & .domain {
                fill: none;
                stroke: none;
            }
        }

        & .uteVizHBUsage-line {
            stroke: @uteColor-grey-semiDark;
            stroke-width: 2;
            fill: none;
        }

        & .uteVizHBUsage-area {
            stroke: none;
            fill: @uteColor-grey-light;
            opacity: 0.8;
        }

        & .uteVizHBUsage-dataPt {
            fill: @uteColor-grey-dark;
            stroke: @uteColor-white;
            stroke-width: 2;

            &:hover {
                fill: @uteColor-white;
                stroke: @uteColor-grey-dark;
            }
        }
    }
}
