// Aliging stuffs
// https://css-tricks.com/centering-css-complete-guide/

.nrgAppHdrQLink {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;

    & > .nrgAppHdrQLink-group {
        display: inline-block;
        width: 200px;
        list-style-type: none;
        padding-bottom: 15px;
    }

    & > .nrgAppHdrQLink-group > .nrgAppHdrQLink-link {
        color: @nrgColor-darkGrey;
        text-align: left;
    }

    & > .nrgAppHdrQLink-group > .nrgAppHdrQLink-link:hover {
        color: @nrgColor-white;
        cursor: pointer;
    }

    & > .nrgAppHdrQLink-group > .nrgAppHdrQLink-link.nrgAppHdrQLink-link-underlined {
        border-bottom: 1px solid @nrgColor-lightBlue;
        padding-bottom: 15px;
    }

    & > .nrgAppHdrQLink-group > .nrgAppHdrQLink-link > .nrgAppHdrQLink-linkIcon {
        font-size: 30px;
        transform: translate(-8px, 8px);
    }

    & > .nrgAppHdrQLink-group > .nrgAppHdrQLink-link > .nrgAppHdrQLink-linkText {
        font-size: @nrgFontSize-small;
    }
}
