.nrgCamChgT {
    font-family: @nrgFontFamily;

    & > .nrgCamChgTtlT {
        margin-left: 8px;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }
    &  .nrgCamChg-lbl {
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-inactiveGrey;
    }
    &  .nrgCamChg-left {
         margin-left: 22px;
     }
    &  .nrgCamChg-top {
        margin-top: 20px;
    }
    & > .nrgCamChgMtx {
        font-family: @nrgFontFamily;
    }
    & > .nrgCamChgBtnT {
        text-align: right;
    }
    & > .nrgCamChgBtnT > .nrgCamChgBtn {

    }
}


