.nrgCamHisT {
    font-family: @nrgFontFamily;

    & > .nrgCamHisTtlT {
        margin-left: 8px;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }
    &  .nrgCamHis-lbl {
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-inactiveGrey;
    }
    &  .nrgCamHis-left {
         margin-left: 22px;
     }
    &  .nrgCamHis-top {
        margin-top: 20px;
    }
    & > .nrgCamHisMtx{
        font-family: @nrgFontFamily;
    }
    &  .nrgCamHislis-Item {
          width: 84px;
          height: auto;
          float: left;
    }
}

