.nrgCamHisTDialog {
    & > .uteDialogHdr {
          margin: 4px;
          height: 40px;
    }
    & > .uteUiDlgCont {
        margin: 0px;
    }
}

.nrgCamHisT {
    font-family: @nrgFontFamily;

    & > .nrgCamHisTtlT {
        margin-left: 8px;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }
    &  .nrgCamHis-lbl {
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-inactiveGrey;
    }
    &  .nrgCamHis-left {
         margin-left: 22px;
     }
    &  .nrgCamHis-top {
        margin-top: 20px;
    }
    & > .nrgCamHisMtx{
        font-family: @nrgFontFamily;
    }
    &  .nrgCamHislis-Item {
          width: 84px;
          height: auto;
          float: left;
    }
    & .nrgCamHisBut {
        width: 268px;
        height:126px;
        margin:3px 3px 3px 3px;
        background-color: @nrgColor-grey-highlight;
    }
    & .nrgCamHisScroll{
        overflow: auto;
        text-align: center;
        outline: 0px;
    }
    & .nrgCamHisBut-Date{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-regular;
        text-align: left;
        padding-left: 10px;
    }
    & .nrgCamHisBut-Title{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }
    & .nrgCamHisBut-Price{
        font-size: @nrgFontSize-largest;
        font-weight: @nrgFontWeight-bold;
    }
    & .nrgCamHisBut-PriceLbl{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-regular;
    }
}

