.nrgCmpOffT {
    font-family: @nrgFontFamily;

    & > .nrgCamOffTtlT {
        margin-left: 8px;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }
    &  .nrgCmpOffCell-Tier{
        width:10%;
    }
    &  .nrgCmpOffCell-Tiles > .nrgCamOffScroll{
        overflow: auto;
        text-align: center;
        outline: 0px;
        margin-top: 10px;
    }
    &  .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt {
        width: 268px;
        height:126px;
        margin:3px 3px 3px 3px;
        background-color: @nrgColor-grey-highlight;
    }
    &  .nrgCamOffBtT > .nrgCamOffBt-Ttl{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        padding-top: 5px;
    }
    &  .nrgCamOffBt-Prc{
        font-size: @nrgFontSize-largest;
        font-weight: @nrgFontWeight-regular;
        margin-left: 10px;
        margin-top: 10px;
        text-align: left;
    }
    &  .nrgCamOffBt-PrcLbl{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-regular;
        text-align: right;
    }
    &  .nrgCamOffBt-CF{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-regular;
        text-align: right;
    }
    &  .nrgCamOffBt-IC{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-regular;
        text-align: right;
    }
    &  .nrgCamOffBt-PC{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-regular;
        text-align: right;
    }
    &  .nrgCamOffScroll > .sapMScrollContScroll > .nrgCamOffBt-Selected {
        background-color: @nrgColor-grey-light;
        color:@nrgColor-white;
    }
    & .nrgCamOffBtI {
        vertical-align: top;
    }
    & .nrgCamOffBtT{
        width:75%;
    }
}
