.nrgCamOvr {
    font-family: @nrgFontFamily;

    & > .nrgCamOvr-title {
        margin-left: 8px;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }
    &  .nrgCamOvr-lbl {
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-inactiveGrey;
    }
    &  .nrgCamOvr-left {
         margin-left: 22px;
     }
    &  .nrgCamOvr-top {
        margin-top: 20px;
    }
    &  .nrgCamOvr-mtx{
        font-family: @nrgFontFamily;
    }
    & > .nrgCamOvr-offerToolbar {
        width: 100%;
        margin-left: 20px;
    }
    & > .nrgCamOvr-offerToolbar > .nrgCamOvr-offerBtn {
       // width: 100%;
        height: 50px;
        background-color: @nrgColor-lightBlue;
        border: none;
        border-radius: 2px;
        outline-style: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 50px;
    }

    & > .nrgCamOvr-offerToolbar > .nrgCamOvr-offerBtn:hover {
        background-color: @nrgColor-darkPaleBlue;
        color: @nrgColor-white;
    }

    & > .nrgCamOvr-offerToolbar > .nrgCamOvr-offerBtn > .nrgCamOvr-offerBtnTitle {
        font: @nrgFontWeight-semiBold @nrgFontSize-small @nrgFontFamily;
        margin-bottom: 10px;
    }

    & > .nrgCamOvr-offerToolbar> .nrgCamOvr-offerBtn > .nrgCamOvr-offerBtnDesc {
        font: @nrgFontWeight-semiBold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-redAlert;
        text-transform: uppercase;
    }

    & > .nrgCamOvr-offerToolbar > .nrgCamOvr-offerBtn > .nrgCamOvr-offerBtnDesc.nrgCamOvr-offerBtnTitle-ok {
        color: @nrgColor-blueLink;
    }
    &   .nrgCamOvr-desc:after {
        content:"";
        width: 10px;
        height: 10px;
        position: absolute;
        border-top: 2px solid #a9a9a9;
        border-left: 2px solid #a9a9a9;
        border-right: 0px;
        transform: rotate(45deg) skew(0deg);
        margin-left:20px;
        margin-top: 5px;
    }

    &   .nrgCamOvr-desc:active:after {
        content:"";
        width: 10px;
        height: 10px;
        position: absolute;
        border-top: 2px solid #a9a9a9;
        border-right: 2px solid #a9a9a9;
        border-left: 0px;
        transform: rotate(135deg) skew(0deg);
        margin-left:20px;
        margin-top: 0px;
    }

}

