.nrgCamSST {
    font-family: @nrgFontFamily;

    & > .nrgCamSSTtlT {
        margin-left: 8px;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }
    &  .nrgCamSS-lbl {
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-inactiveGrey;
    }
    &  .nrgCamSS-left {
         margin-left: 22px;
     }
    &  .nrgCamSS-top {
        margin-top: 20px;
    }
    & > .nrgCamSSMtx {
        font-family: @nrgFontFamily;
    }
    & > .nrgCamSSBtnT {
        text-align: right;
    }
}
