.nrgCamToolsT {
    font-family: @nrgFontFamily;

    & > .nrgCamToolsTitleT {
            margin-left: 8px;
            font-size: @nrgFontSize-base;
            font-weight: @nrgFontWeight-semiBold;
            text-align: center;
    }
    & > .nrgCamToolsBtnT {
            text-align: center;
    }
    &  .nrgCamTools-top {
        margin-top: 20px;
    }
}
