.nrgCallerNoIDEnrollment{
    height: 100%;
    width: 100%;

    & > .nrgCallerNoIDEnrollment-Title{
        font-family: @nrgFontFamily;
        font-weight: @nrgFontWeight-semiBold;
        font-size: @nrgFontSize-largest;
        margin-top: 5px ;
    }

    & > .nrgCallerNoIDEnrollment-SmlTitle{
        margin-top: 20px;
        margin-bottom: 0px;
        font-family: @nrgFontFamily;
        font-weight: @nrgFontWeight-semiBold;
        font-size: @nrgFontSize-base ;
    }

    & > .nrgCallerNoIDEnrollment-List{
        margin-top: 5px;
        color: @nrgColor-blueLink;
        font-family: @nrgFontFamily;
        font-weight: @nrgFontWeight-semiBold;
        font-size: @nrgFontSize-base ;
        list-style-type: none;
        padding-left:0;

    }
    & > .nrgCallerNoIDEnrollment-List > .nrgCallerNoIDEnrollment-ListItem {

    }
    & > .nrgCallerNoIDEnrollment-List > .nrgCallerNoIDEnrollment-ListItem > .nrgCallerNoIDEnrollment-ListItemLink{
        text-decoration: none;
        color: @nrgColor-blueLink;
    }
}
