<!DOCTYPE html>
<html style="height:100%">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NRG Reliant Interaction Center</title>
        <link rel="shortcut icon" href="../../asset/img/nrg-favicon.png">
		<script id="sap-ui-bootstrap"
		    src="../../../../bower_components/openui5-sap.ui.core/resources/sap-ui-core.js"
            data-sap-ui-xx-bindingSyntax="complex"
            data-sap-ui-resourceroots='{
                "sap.m": "../../../../bower_components/openui5-sap.m/resources/sap/m",
                "nrg": "../../",
                "ute.ui.commons": "../../../ute/ui/commons"
            }'>

		</script>
	</head>
	<body role="application" class="nrgUiBody" id="content">        
		<script>
            sap.ui.getCore().attachInit(function () {
                new sap.ui.core.ComponentContainer({
                    height: '100%',
                    width: '100%',
                    name: 'nrg.component.ic'
                }).placeAt('content');
            });
		</script>
	</body>
</html>
