// Do not use float or else composite control will not work!!!

.uteMBtn {
    display: inline-block;
    position: relative;
    border-radius: 2px;
    padding: 3px 5px;
}

.uteMBtn:hover {
    cursor: pointer;
}

.uteMBtn[data-disabled="true"]:hover {
    cursor: default;
}

.uteMBtn-text {
    font-size: @uteFontSize-small;
    vertical-align: middle;
    text-align: center;
}

/*
** Button design - default
*/
.uteMBtn-design-default {
    min-width: 82px;
    min-height: 28px;
    background-color: @uteColor-blue-link;
    color: @uteColor-white;
}

.uteMBtn-design-default:hover {
    background-color: @uteColor-blue-light;
}

.uteMBtn-design-default[data-disabled="true"] {
    background-color: @uteColor-blue-pearl;
    color: @uteColor-grey-dark;
}

.uteMBtn-design-default[data-disabled="true"]:hover {
    background-color: @uteColor-blue-pearl;
}

/*
** Button design - highlight
*/
.uteMBtn-design-highlight {
    min-width: 82px;
    min-height: 28px;
    background-color: @uteColor-green-highlight;
    color: @uteColor-white;
}

.uteMBtn-design-highlight:hover {
    background-color: @uteColor-blue-light;
}

.uteMBtn-design-highlight[data-disabled="true"] {
    background-color: @uteColor-blue-pearl;
    color: @uteColor-grey-dark;
}

.uteMBtn-design-highlight[data-disabled="true"]:hover {
    background-color: @uteColor-blue-pearl;
}

/*
** Button design - invert
*/
.uteMBtn-design-invert {
    min-width: 82px;
    min-height: 28px;
    background-color: @uteColor-blue-pearl;
    color: @uteColor-blue-link;
}

.uteMBtn-design-invert:hover {
    background-color: @uteColor-blue-light;
    color: @uteColor-white;
}

.uteMBtn-design-invert[data-disabled="true"] {
    background-color: @uteColor-blue-pearl;
    color: @uteColor-grey-dark;
}

.uteMBtn-design-invert[data-disabled="true"]:hover {
    background-color: @uteColor-blue-pearl;
}

.uteMChkBox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.uteMChkBox-intChk {
    display: none;
}

.uteMChkBox-chk {
    display: inline-block;
}

** Default checkbox design
.uteMChkBox-design-default .uteMChkBox-chk {
    border: 1px solid @uteColor-blue-link;
    width: 15px;
    height: 15px;
}

.uteMChkBox-design-default .uteMChkBox-intChk:checked + .uteMChkBox-chk {
    background-color: @uteColor-blue-link;
}

.uteMChkBox-design-default .uteMChkBox-intChk:checked + .uteMChkBox-chk::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 10px;
    border: 2px solid @uteColor-white;
    border-top: none;
    border-left: none;
    transform: translate(3px, 0) rotate(45deg);
}

.uteMChkBox-design-default .uteMChkBox-intChk[disabled="disabled"] + .uteMChkBox-chk {
    border-color: @uteColor-blue-pearl;
}

.uteMChkBox-design-default .uteMChkBox-intChk[disabled="disabled"]:checked + .uteMChkBox-chk {
    background-color: @uteColor-blue-pearl;
}

.uteMChkBox-design-default .uteMChkBox-intChk[disabled="disabled"]:checked + .uteMChkBox-chk::before {
    border-color: @uteColor-grey-dark;
}

.uteMIl {
    display: block;
    position: relative;
    border: 2px;
}

.uteMIl .uteMIl-hdr {
    display: block;
    position: relative;
}

.uteMIl .uteMIl-hdr .uteMIl-hdrContent {
    display: inline-block;
}

.uteMIl .uteMIl-hdr .uteMIl-hdrExpander {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.uteMIl .uteMIl-body {
    display: block;
    position: relative;
}

.uteMIl .uteMIl-body.uteMIl-body-hidden {
    display: none;
}

.uteMIl-design-default {

}

/*
** Default design for expander
*/
.uteMIl-hdrExpanderDesign-default .uteMChkBox-chk {
    width: 20px;
    height: 15px;
    cursor: pointer;
}

.uteMIl-hdrExpanderDesign-default .uteMChkBox-intChk + .uteMChkBox-chk::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 11px;
    background-color: @uteColor-grey-dark;
    transform: translate(13px, 4px) rotate(45deg);
}

.uteMIl-hdrExpanderDesign-default .uteMChkBox-intChk + .uteMChkBox-chk::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 11px;
    background-color: @uteColor-grey-dark;
    transform: translate(5px, 4px) rotate(-45deg);
}

.uteMIl-hdrExpanderDesign-default .uteMChkBox-intChk:checked + .uteMChkBox-chk::before {
    transform: translate(13px, 4px) rotate(-45deg);
}

.uteMIl-hdrExpanderDesign-default .uteMChkBox-intChk:checked + .uteMChkBox-chk::after {
    transform: translate(5px, 4px) rotate(45deg);
}

.uteMTogBarItm {
    display: inline-block;
    position: relative;
}

.uteMDd {
    display: block;
    position: relative;

    }

.uteMDd .uteMDd-hdr {
    display: block;
    position: relative;
     border: 2px solid grey;
    border-radius: 4px;
}

.uteMDd .uteMDd-hdr .uteMDd-hdrContent {
    display: inline-block;
  /*  padding-left: 10px;*/
}

.uteMDd .uteMDd-hdr .uteMDd-hdrExpander {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;


}

.uteMDd .uteMDd-body {
    display: block;
    position: relative;
    top: 10px;
     border: 2px solid grey;
    border-radius: 4px;
}
.uteMDd .uteMDd-body .uteMDd-body-list {
    display: block;
  color:coral;
}
.uteMDd .uteMDd-body .uteMDd-body-list:hover {
   background-color: aqua;
}
.uteMDd .uteMDd-body.uteMDd-body-hidden {
    display: none;
}

.uteMDd-design-default {

}

/*
** Default design for expander
*/
.uteMDd-hdrExpanderDesign-default .uteMChkBox-chk {
    width: 20px;
    height: 15px;
    cursor: pointer;
}

/*.uteMDd-hdrExpanderDesign-default .uteMChkBox-intChk + .uteMChkBox-chk {

    display: inline-block;
    width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
    border-top: 6px solid grey;

}*/

.uteMDd-hdrExpanderDesign-default .uteMChkBox-intChk + .uteMChkBox-chk {

    display: inline-block;
    width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
    border-top: 6px solid grey;


}

.uteMDd-hdrExpanderDesign-default .uteMChkBox-intChk:checked + .uteMChkBox-chk {

    display: inline-block;
    width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
    border-bottom: 6px solid grey;
    border-top: none;

}

/*.uteMDd-hdrExpanderDesign-default .uteMChkBox-intChk:checked + .uteMChkBox-chk::after {



}*/
