.nrgApp {
    /*
        Agent screen resolution: 1680 x 1050
        Wireframe: 1438 x 771
        Wireframe min: 1358 x 686
    */

    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;

    & > .nrgApp-hdr,
    & > .nrgApp-ftr {
        position: fixed;
        width: 100%;
    }

    & > .nrgApp-hdr {
        z-index: @nrgZIndex-1--AppHeader;
        top: 0;
    }

    & > .nrgApp-ftr {
        z-index: @nrgZIndex-1--AppFooter;
        bottom: 0;
    }

    & > .nrgApp-main {
        position: relative;
        width: 1440px;
        margin: 0 auto;
    }
}
