.nrgCallerNoIDSearch{
    height: auto;
    width: 100%;

    & > .nrgCallerNoIDSearch-Alert {
        font-family: @nrgFontFamily;
        font-weight: @nrgFontWeight-semiBold;
        font-size: @nrgFontSize-base ;
    }

    & > .nrgCallerNoIDSearch-InputArea{
        margin-top: 4% ;
        margin-bottom: 0 ;
        width: 100% ;
    }

    & > .nrgCallerNoIDSearch-InputArea >.nrgCallerNoIDSearch-InputLeft{
        margin-top: 2% ;
        left: 0% ;
        position: relative;
    }

    & > .nrgCallerNoIDSearch-InputArea >  .nrgCallerNoIDSearch-InputRight{
        margin-top: 2% ;
        position: relative;
        left: 2% ;
    }

}
