	.nrgDashboard-AcctAccessAuthPty-RightArea{
		width: 300px;
		height: 30px;
	}

	.nrgDashboard-AcctAccessAuthPty{
		width: 1000px;
		height: 400px;

		& > .nrgDashboard-AcctAccessAuthPty-hdr{
			border-bottom: @nrgColor-grey-light;
			border-bottom-style: dotted;
			padding-top: 40px;
			padding-bottom: 8px;
			margin-right: 40px;
			margin-left:15px;
		}
		& > .nrgDashboard-AcctAccessAuthPty-hdr > .nrgDashboard-AcctAccessAuthPty-hdr-cell{
			display: inline-block;
			text-align: center;
			font-weight: @nrgFontWeight-semiBold;
		}
		& > .nrgDashboard-AcctAccessAuthPty-tbl{
			margin-right: 40px;
			margin-left: 15px;
			padding-bottom: 8px;

			> .nrgDashboard-AcctAccessAuthPty-tbl-row{
				background-color: @nrgColor-grey-highlight;
				display: inline-block;
				text-align: center;
			}
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h1-c1{
			width: 170px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h2-c2{
			width: 170px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h3-c3{
			width: 170px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h4-c4{
			width: 140px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h5-c5{
			width: 140px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h6-c6{
			width: 140px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h1{
			width: 170px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h2{
			width: 170px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h3{
			width: 170px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h4{
			width: 140px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h5{
			width: 140px;
			text-align: center;
		}
		.nrgDashboard-AcctAccessAuthPty-hdr-h6{
			width: 140px;
			text-align: center;
		}

	}
