.nrgDashboard-AcctAccessAuthPty{
    width: 1000px;
	height: 400px;

	& > .nrgDashboard-AcctAccessAuthPty-hdr{
		border-bottom: @nrgColor-grey-light;
    	border-bottom-style: dotted;
    	border-bottom-width: 4px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	margin-right: 40px;
	}
	& > .nrgDashboard-AcctAccessAuthPty-hdr > .nrgDashboard-AcctAccessAuthPty-hdr-cell{
		display: inline-block;
    	text-align: center;
    	font-weight: @nrgFontWeight-semiBold;
	}
	.nrgDashboard-AcctAccessAuthPty-hdr-h1,{
		width: 180px;
      	text-align: center;
	}
	 & >.nrgDashboard-AcctAccessAuthPty-hdr-h1-c1{
		width: 180px;
      	text-align: center;
	 }
	.nrgDashboard-AcctAccessAuthPty-hdr-h2, & >.nrgDashboard-AcctAccessAuthPty-hdr-h2-c2{
	  	width: 180px;
      	text-align: center;
	}
	.nrgDashboard-AcctAccessAuthPty-hdr-h3, & >.nrgDashboard-AcctAccessAuthPty-hdr-h3-c3{
	  	width: 180px;
      	text-align: center;
	}
	.nrgDashboard-AcctAccessAuthPty-hdr-h5, & >.nrgDashboard-AcctAccessAuthPty-hdr-h5-c5{
	  	width: 150px;
      	text-align: center;
	}
	.nrgDashboard-AcctAccessAuthPty-hdr-h6, & >.nrgDashboard-AcctAccessAuthPty-hdr-h6-c6{
	  	width: 150px;
      	text-align: center;
	}
	.nrgDashboard-AcctAccessAuthPty-hdr-h7, & >.nrgDashboard-AcctAccessAuthPty-hdr-h7-c7{
	  	width: 150px;
      	text-align: center;
	}
}
& > .nrgDashboard-AcctAccessAuthPty > .nrgDashboard-AcctAccessAuthPty-tbl{
		display: inline-block;
        text-align: center;
        font-weight: @nrgFontWeight-semiBold;
	}
& > .nrgDashboard-AcctAccessAuthPty > .nrgDashboard-AcctAccessAuthPty-tbl > .nrgDashboard-AcctAccessAuthPty-tbl-row{
		border-bottom: @nrgColor-grey-light;
    	border-bottom-width: 4px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	margin-right: 40px;
}
