.nrgDashboard-cusDataBpInfo{
    height: 614px;
    padding: 17px 25px 18px 25px !important;

    font-family: @nrgFontFamily;

    & > .nrgDashboard-cusDataBpInfo-scrnTitle{
        font: @nrgFontWeight-semiBold @nrgFontSize-large @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-r-btn{
        marging: 0;
        padding: 0;
    }

    & > .nrgDashboard-cusDataBpInfo-r-btn > .nrgDashboard-cusDataBpInfo-CommBtn{
        //width: 200px;
        height: 30px;
        float: right;
        text-align: center;
        color: @nrgColor-blue-link;
        margin-right: 30px;
        padding: 0;
    }

    & > .nrgDashboard-cusDataBpInfo-r-btn > .nrgDashboard-cusDataBpInfo-CommBtn > .nrgDashboard-cusDataBpInfo-Icon{
        font: @nrgFontWeight-semiBold @nrgFontSize-small @nrgFontFamily;
        margin-right: 6px;
    }

    & > .nrgDashboard-cusDataBpInfo-r-btn > .nrgDashboard-cusDataBpInfo-CommBtn > .nrgDashboard-cusDataBpInfo-btn-text{
        font: @nrgFontWeight-semiBold @nrgFontSize-base @nrgFontFamily;
    }

    & > .nrgDashboard-cusDataBpInfo-horiLine-div{
//        float: left;
//        margin-bottom: 15px;
    }

    & > .nrgDashboard-cusDataBpInfo-horiLine-div > .nrgDashboard-cusDataBpInfo-horiLine{
        border-color: @nrgColor-grey-light;
        float: left;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first{
        margin: 30px 0 0 0;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first > .uteMIl-hdr > .uteMIl-hdrContent > .nrgDashboard-cusDataBpInfo-infoLineHeader-txt{
        font: @nrgFontWeight-semiBold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine{
        margin: 20px 0 0 0;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine > .uteMIl-hdr > .uteMIl-hdrContent > .nrgDashboard-cusDataBpInfo-infoLineHeader-txt{
        font: @nrgFontWeight-semiBold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }//

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMIl-hdr{
        background: white;
        display: block;
        position: relative;
        border-radius: 4px;
        padding: 6px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMIl-hdr{
        background: white;
        display: block;
        position: relative;
        border-radius: 4px;
        padding: 6px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMIl-hdrExpander{
        float: right;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMIl-hdrExpander{
        float: right;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMChkBox-chk::before{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMChkBox-chk::before{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMChkBox-chk::after{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMChkBox-chk::after{
        background-color: @nrgColor-blue-link;
    }

}
