.nrgDashboard-cusDataVerify{
    height: 400px;

    /*CSS for layouts*/
    & > .nrgDashboard-cusDataVerify-layout{
        padding: 0;
        margin: 0;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > td {
        vertical-align: top !important;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l{
        padding-right: 32px;
        border-right: @nrgColor-grey-light;
        border-right-style: dashed;
        border-right-width: thin;
    }

     & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div{
        background-color: @nrgColor-bluePearl;
        border-radius: 2px;
        //height: 350px;
        padding: 10px;
     }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-chb > span{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        border-color: @nrgColor-grey-dark;
        line-height: 24px;
        margin-left: 2px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m{
        padding-left: 32px;
        padding-right: 28px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv{
        top: 0px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mTgBtn{
        margin-top: 0px;
    }


    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mRdBtn{
        margin-top: 16px;
        margin-bottom: 16px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mRdBtn > .nrgDashboard-cusDataVerify-mRdBtn-rdBtn{
        padding-left: 50px;
    }

     & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent{
         background-color: @nrgColor-bluePearl;
         border-radius: 2px;
         //height: 300px;
         padding: 16px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-r{
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-r > .nrgDashboard-cusDataVerify-rContent{
        position: relative;
        height: 344px;
        margin: 0;
        padding: 0;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-r > .nrgDashboard-cusDataVerify-rContent > .nrgDashboard-cusDataVerify-rContent-vBtn {
        bottom: 48px;
        right: 0px;
        position: absolute;
    }

     & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-r > .nrgDashboard-cusDataVerify-rContent > .nrgDashboard-cusDataVerify-rContent-uBtn {
        bottom: 0px;
        right: 0px;
        position: absolute;
    }

    /*Starting from here are for text style and alignment*/
    & .nrgDashboard-cusDataVerify-horDvi{
        border-color: @nrgColor-grey-light;
        border-style: dashed;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > .nrgDashboard-cusDataVerify-l-div-cell{
        padding: 0;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > .nrgDashboard-cusDataVerify-l-div-cell > .nrgDashboard-cusDataVerify-l-div-cell-rmtChb{
        margin-left: 12px;
        top: 3px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > .nrgDashboard-cusDataVerify-l-div-cell > .nrgDashboard-cusDataVerify-l-div-cell-rmtChb > label{
        border-color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > .nrgDashboard-cusDataVerify-l-div-title{
        text-align: center;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > .nrgDashboard-cusDataVerify-l-div-title span{
        font-size: @nrgFontSize-largest;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > .nrgDashboard-cusDataVerify-l-div-tdspLabl > span{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-blue-link;
        line-height: 22px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > .nrgDashboard-cusDataVerify-l-div-tdspVal > span{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-dark;
        line-height: 24px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-halflabl > span{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-blue-link;
        line-height: 24px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-ritelabl > span{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-inactive;
        line-height: 24px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-halgVal{
        display: inline-block;
        width: 85%;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-halgVal > span{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-dark;
        line-height: 22px;
    }

     & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-redX{
         display: inline-block;
     }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-redX > span{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-red-pale;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-halChb > label{
        border-color: @nrgColor-green-highlight;
        top: 3px;
        position: inherit;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > table > tbody > tr > td > .nrgDashboard-cusDataVerify-l-div-halChb > label::before{
        border-color: @nrgColor-green-highlight;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > .nrgDashboard-cusDataVerify-l-div > .nrgDashboard-cusDataVerify-l-div-esidLabl > span{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-inactive;
        line-height: 22px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > .nrgDashboard-cusDataVerify-mContent-pag{
        vertical-align: top !important;
        text-align: right;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-pagBtn > div {
        color: @nrgColor-blue-link;
        padding-right: 3px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-add-up {
        display: table-row;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-add-up > .nrgDashboard-cusDataVerify-mContent-badge {
        top: 5px;
        margin-right: 6px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-add-up > .nrgDashboard-cusDataVerify-mContent-add{
        display: table-cell;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-add-up > .nrgDashboard-cusDataVerify-mContent-add > span{
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-bold;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-fLbl{
        margin-bottom: 8px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-fLbl > span{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > div > .nrgDashboard-cusDataVerify-mContent-fBtn > div{
        text-align: initial;
        margin-right: 6px;
        padding-right: 6px;
        margin-bottom: 8px;
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-fInput{
        border: 0;
        outline: 0;
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-dark;
        margin-left: 8px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td{
        padding: 0;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-fInput:focus{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-hLbl > span{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-inactive;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hPhn{
        display: inline-block;
        width: 180px
    }

     & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hExt{
        display: inline-block;
        width: 90px
     }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hPhn > label > span, & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hExt > label > span, & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hType > label > span{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-inactive;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hExt > .nrgDashboard-cusDataVerify-mContent-hPhnExtInput > input{
        border: 0;
        outline: 0;
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-dark;
        margin-left: 8px;
        min-width: 40px;
        width: 40px !important;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hExt > .nrgDashboard-cusDataVerify-mContent-hPhnExtInput > input:focus{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hPhn > .nrgDashboard-cusDataVerify-mContent-hPhnInput > input{
        border: 0;
        outline: 0;
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-dark;
        margin-left: 8px;
        min-width: 100px;
        width: 100px !important;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hPhn > .nrgDashboard-cusDataVerify-mContent-hPhnInput > input:focus{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > .nrgDashboard-cusDataVerify-mContent-hType{
        display: inline-block;
        margin-left: 3px;
    }



    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-hInput > input{
        border: 0;
        outline: 0;
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-dark;
        margin-left: 8px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-hEmailInput > div{
        //width: 200px !important;
        border: 0;
        outline: 0;
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-dark;
        margin-left: 8px;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mContent > table > tbody > tr > td > .nrgDashboard-cusDataVerify-mContent-hInput > input:focus{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mRdBtn > .nrgDashboard-cusDataVerify-mRdBtn-dropDownCustom .uteMDd-hdr .uteMDd-hdrContent {
        width: 230px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

     & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mRdBtn > .nrgDashboard-cusDataVerify-mRdBtn-dropDownCustom .uteMDd-hdr .uteMDd-hdrExpander{
        margin-bottom: 4px;
     }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mRdBtn > .nrgDashboard-cusDataVerify-mRdBtn-dropDownCustom .uteMDdItem{
        width: auto;
        //padding: 3px 0 3px 0;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mRdBtn > .nrgDashboard-cusDataVerify-mRdBtn-dropDownCustom .uteMDd-hdr{
        margin-right: 5px;
    }


    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mRdBtn > .nrgDashboard-cusDataVerify-mRdBtn-dropDownCustom .uteMDd-picker{
        max-height: 270px;
        overflow-y: auto;
    }
    /*
        & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-m > .nrgDashboard-cusDataVerify-mDiv > .nrgDashboard-cusDataVerify-mRdBtn > .nrgDashboard-cusDataVerify-mRdBtn-dropDownCustom .custom .uteMDd-hdr {
            border: none;
            margin-bottom: 4px;
            cursor: pointer;
        }*/

}



.nrgDashboard-cusDataVerifyEditMail{
    width: 440px;

    & > .nrgDashboard-cusDataVerifyEditMail-hdr{
        margin-left: 13px;
        margin-bottom: 10px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-hdr > div > span{
        color: @nrgColor-red-alert;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-hdr > div > div{
        display: inline-block;
        margin-left: 5px;
        color: @nrgColor-red-alert;
    }

    &.nrgDashboard-cusDataVerifyEditMail-vl{
        width: 880px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-l{
        display: inline-block;
        width: 100%;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-l-vl{
        width: 47%;
        border-right-color: @nrgColor-inactiveGrey;
        border-right-style: dashed;
        border-right-width: 1px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-l > div{
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    & > div > .nrgDashboard-cusDataVerifyEditMail-rl-title > span{
        font-weight: @nrgFontWeight-bold;
        text-decoration: underline;
    }

    & > div > .nrgDashboard-cusDataVerifyEditMail-rl-title{
        margin-bottom: 2px;
        padding-bottom: 2px;
        text-align: center;
    }


    & > .nrgDashboard-cusDataVerifyEditMail-l > div > span > label{
        font-weight: @nrgFontWeight-semiBold;
        display: inline-block;
        float: left;
        clear: left;
        width: 120px;
        text-align: right;
        padding-top: 3px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-l > div > span > input{
        display: inline-block;
        float: left;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > .nrgDashboard-cusDataVerifyEditMail-r-ChkBx{
        margin-left: 35px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > .nrgDashboard-cusDataVerifyEditMail-r-ChkBx > div > label{
        margin-top: 0px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > .nrgDashboard-cusDataVerifyEditMail-r-ChkBx > .nrgDashboard-cusDataVerifyEditMail-r-ChkBxlabel {
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
        position: relative;
        bottom: 2px;
        margin-left: 2px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > .nrgDashboard-cusDataVerifyEditMail-l-ftr{
        margin-top: 10px;
        margin-left: 13px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r{
        display: inline-block;
        width: 53%;
        vertical-align: top;
        padding-left: 30px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > div{
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > div > span > label{
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-red-alert;
        display: inline-block;
        float: left;
        clear: left;
        width: 120px;
        text-align: right;
        padding-top: 3px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > div > span > input{
        display: inline-block;
        float: left;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-l > .nrgDashboard-cusDataVerifyEditMailAdd-updtBtn{
        margin-left: 179px;
        margin-top: 20px;
        margin-bottom: 2px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > .nrgDashboard-cusDataVerifyEditMailAdd-valdBtn{
        margin-left: 35px;
        margin-top: 20px;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-r > div > .nrgDashboard-cusDataVerifyEditMail-rHighlight > input{
        background-color: @nrgColor-orange-attention;
    }

    & > .nrgDashboard-cusDataVerifyEditMail-l > div > .nrgDashboard-cusDataVerifyEditMail-lHighlight > input{
        background-color: @nrgColor-orange-attention;
    }
}
