.nrgDashboard-cusDataCaInfo{
//    height: 614px;
    padding: 17px 30px 18px 25px !important;

    font-family: @nrgFontFamily;

    & > .nrgDashboard-cusDataCaInfo-scrnTitle{
        font: @nrgFontWeight-semiBold @nrgFontSize-large @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataCaInfo-r-btn{
        marging: 0;
        padding: 0;
    }

    & > .nrgDashboard-cusDataCaInfo-r-btn > .nrgDashboard-cusDataCaInfo-CommBtn{
        height: 30px;
        float: right;
        text-align: center;
        color: @nrgColor-blue-link;
        margin-right: 30px;
        padding: 0;
    }

    & > .nrgDashboard-cusDataCaInfo-r-btn > .nrgDashboard-cusDataCaInfo-CommBtn > .nrgDashboard-cusDataCaInfo-Icon{
        font: @nrgFontWeight-semiBold @nrgFontSize-small @nrgFontFamily;
        margin-right: 6px;
    }

    & > .nrgDashboard-cusDataCaInfo-r-btn > .nrgDashboard-cusDataCaInfo-CommBtn > .nrgDashboard-cusDataCaInfo-btn-text{
        font: @nrgFontWeight-semiBold @nrgFontSize-base @nrgFontFamily;
    }

    & > .nrgDashboard-cusDataCaInfo-horiLine-div{
    }

    & > .nrgDashboard-cusDataCaInfo-horiLine-div > .nrgDashboard-cusDataCaInfo-horiLine{
        border-color: @nrgColor-grey-lighter;
        float: left;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine{
        margin: 30px 0 0 0;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine > .uteMIl-hdr > .uteMIl-hdrContent > .nrgDashboard-cusDataCaInfo-infoLineHeader-txt{
        font: @nrgFontWeight-semiBold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine .uteMIl-hdr{
        background: @nrgColor-blue-pearl;
        display: block;
        position: relative;
        border-radius: 4px;
        padding: 6px;
        margin-bottom: 15px;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine > .uteMIl-body > .nrgDashboard-cusDataCaInfo-infoline-div{
        marging: 0;
        padding: 0;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine > .uteMIl-body > .nrgDashboard-cusDataCaInfo-infoline-div > .nrgDashboard-cusDataCaInfo-dropdown{
        margin-top: 15px;
        margin-left: 10px;
        background-color: @nrgColor-blue-pearl;
        font: @nrgFontWeight-semiBold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine > .uteMIl-body > .nrgDashboard-cusDataCaInfo-infoline-div > .nrgDashboard-cusDataCaInfo-dropdown > .uteMDd-hdr{
        border: none;
        margin-bottom: 4px;
        cursor: pointer;
        margin-top: 15px;
        width: 300px;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine > .uteMIl-body > .nrgDashboard-cusDataCaInfo-infoline-div > .nrgDashboard-cusDataBpInfo-checkBox-div{
        marging: 0;
        padding: 0;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine > .uteMIl-body > .nrgDashboard-cusDataCaInfo-infoline-div > .nrgDashboard-cusDataBpInfo-checkBox-div > .nrgDashboard-cusDataCaInfo-chb{
        margin-top: 15px;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine > .uteMIl-body > .nrgDashboard-cusDataCaInfo-infoline-div > .nrgDashboard-cusDataBpInfo-checkBox-div > .nrgDashboard-cusDatacaInfo-l-chb-lbl{
        margin-top: 15px;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine .nrgDashboard-cusDataCaInfo-l{
        padding: 0;
        margin: 0;
        vertical-align: top !important;
        padding-right: 27px;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine .nrgDashboard-cusDataCaInfo-l > table{
        margin-top: 8px;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine .nrgDashboard-cusDataCaInfo-l .nrgDashboard-cusDataCaInfo-lbl{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine .nrgDashboard-cusDataCaInfo-l .nrgDashboard-cusDataCaInfo-cnt{
        border-bottom:solid @nrgColor-grey-light 1px;
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine .nrgDashboard-cusDataCaInfo-l .uteTextfield.uteTextfield-noBorder > .uteTextfield-noBorder-input {
        width: 100% !important;
    }

    & > .nrgDashboard-cusDataCaInfo-infoLine > .uteMIl-body > .nrgDashboard-cusDataCaInfo-btn {
        float: right;
        margin-top: 15px;
    }

}
