.nrgDashboard-calrNoIDSearch{
    font-family: @nrgFontFamily;

    & > .nrgDashboard-calrNoIDSearch-title{
        margin-left: 8px;
        font-weight: @nrgFontWeight-semiBold;
    }

    & > .nrgDashboard-calrNoIDSearch-title > .nrgDashboard-calrNoIDSearch-titleSpan{
        margin-left: 10px;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
    }

    & > .nrgDashboard-calrNoIDSearch-title > .nrgDashboard-calrNoIDSearch-titleIcon{
        font-size: @nrgFontSize-large;
        color: @nrgColor-red-alert;
    }

    & > .nrgDashboard-calrNoIDSearch-textfield{
        font-size: @nrgFontSize-small;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    & > .nrgDashboard-calrNoIDSearch-textfield > .nrgDashboard-calrNoIDSearch-textfield-input > input{
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    & > .nrgCallerNoIDSearch-sbtn{
        margin-top: 25px;
        margin-left: 900px;
    }


    &.nrgDashboard-calrNoIDSearch-transSpace{
        background-color: transparent;
        height: 10px;
    }

    & > .nrgDashboard-calrNoIDSearch-resultTitle{
        margin-left: 8px;
        font-size: @nrgFontSize-large;
        font-weight: @nrgFontWeight-bold;
    }

    & > .nrgDashboard-calrNoIDSearch-resultTitle > .nrgDashboard-calrNoIDSearch-resultCount{
        margin-left: 6px;
        font-weight: @nrgFontWeight-regular;
    }

    & > .nrgDashboard-calrNoIDSearch-resultTableTitle{
        margin-top: 10px;
        margin-left: 5px;
    }

    & > .nrgDashboard-calrNoIDSearch-resultTableTitle *{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
    }

    & > .nrgDashboard-calrNoIDSearch-resultTable{
        margin-top: 5px;
        margin-left: 5px;
    }

    & > .nrgDashboard-calrNoIDSearch-resultTable *{
        font-size: @nrgFontSize-small;
        font-weight: @nrgFontWeight-semiBold;
    }
}
