.nrgDashboard-cusDataBpInfo{
//    height: 614px;
    padding: 17px 30px 18px 25px !important;

    font-family: @nrgFontFamily;

    & > .nrgDashboard-cusDataBpInfo-scrnTitle{
        font: @nrgFontWeight-semiBold @nrgFontSize-large @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-r-btn{
        marging: 0;
        padding: 0;
    }

    & > .nrgDashboard-cusDataBpInfo-r-btn > .nrgDashboard-cusDataBpInfo-CommBtn{
        height: 30px;
        float: right;
        text-align: center;
        color: @nrgColor-blue-link;
        margin-right: 30px;
        padding: 0;
    }

    & > .nrgDashboard-cusDataBpInfo-r-btn > .nrgDashboard-cusDataBpInfo-CommBtn > .nrgDashboard-cusDataBpInfo-Icon{
        font: @nrgFontWeight-semiBold @nrgFontSize-small @nrgFontFamily;
        margin-right: 6px;
    }

    & > .nrgDashboard-cusDataBpInfo-r-btn > .nrgDashboard-cusDataBpInfo-CommBtn > .nrgDashboard-cusDataBpInfo-btn-text{
        font: @nrgFontWeight-semiBold @nrgFontSize-base @nrgFontFamily;
    }

    & > .nrgDashboard-cusDataBpInfo-horiLine-div{
    }

    & > .nrgDashboard-cusDataBpInfo-horiLine-div > .nrgDashboard-cusDataBpInfo-horiLine{
        border-color: @nrgColor-grey-lighter;
        float: left;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first{
        margin: 30px 0 0 0;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first > .uteMIl-hdr > .uteMIl-hdrContent > .nrgDashboard-cusDataBpInfo-infoLineHeader-txt > span{
        font: @nrgFontWeight-semiBold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine{
        margin: 65px 0 50px 0;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine > .uteMIl-hdr > .uteMIl-hdrContent > .nrgDashboard-cusDataBpInfo-infoLineHeader-txt > span{
        font: @nrgFontWeight-semiBold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMIl-hdr{
        background: @nrgColor-blue-pearl;
        display: block;
        position: relative;
        border-radius: 4px;
        padding: 6px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMIl-body{
        margin-top:20px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMIl-hdr{
        background: @nrgColor-blue-pearl;
        display: block;
        position: relative;
        border-radius: 4px;
        padding: 6px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMIl-body{
        margin-top:20px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMIl-hdrExpander{
        float: right;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMIl-hdrExpander{
        float: right;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMChkBox-chk::before{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMChkBox-chk::before{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .uteMChkBox-chk::after{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .uteMChkBox-chk::after{
        background-color: @nrgColor-blue-link;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine td{
        padding: 0;
        margin: 0;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-l{
        padding: 0;
        margin: 0;
        vertical-align: top !important;
        padding-right: 27px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l{
        padding: 0;
        margin: 0;
        vertical-align: top !important;
        padding-right: 27px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first table > tbody > tr > td > table{
        margin-top: 4px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l > table{
        margin-top: 8px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-l .nrgDashboard-cusDataBpInfo-lbl{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l .nrgDashboard-cusDataBpInfo-lbl{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-l .nrgDashboard-cusDataBpInfo-cnt{
        border-bottom:solid @nrgColor-grey-light 1px;
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l .nrgDashboard-cusDataBpInfo-cnt{
        border-bottom:solid @nrgColor-grey-light 1px;
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-l .uteTextfield.uteTextfield-noBorder>.uteTextfield-noBorder-input {
        width: 100% !important;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l .uteTextfield.uteTextfield-noBorder>.uteTextfield-noBorder-input {
        width: 100% !important;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-l .uteTextfield.uteTextfield-noBorder>.uteTextfield-noBorder-input:focus {
        background-color: @nrgColor-blue-pearl;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l .uteTextfield.uteTextfield-noBorder>.uteTextfield-noBorder-input:focus {
        background-color: @nrgColor-blue-pearl;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-btn{
        float: right;
        margin-top: 15px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnEdit{
        margin: 0;
        padding: 0;
        width: 110px;
        height: 24px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnEdit > .uteMBtn-text{
        font: @nrgFontWeight-regular @nrgFontSize-large @nrgFontFamily;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnSave{
        margin: 0;
        padding: 0;
        width: 110px;
        height: 24px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnSave > .uteMBtn-text{
        font: @nrgFontWeight-regular @nrgFontSize-large @nrgFontFamily;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-btn{
        float: right;
        margin-top: 15px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnEdit{
        margin: 0;
        padding: 0;
        width: 110px;
        height: 24px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnEdit > .uteMBtn-text{
        font: @nrgFontWeight-regular @nrgFontSize-large @nrgFontFamily;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine-first .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnSave{
        margin: 0;
        padding: 0;
        width: 110px;
        height: 24px;
        margin-right: 10px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnSave{
        margin: 0;
        padding: 0;
        width: 110px;
        height: 24px;
        margin-right: 10px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-btn > .nrgDashboard-cusDataBpInfo-CommBtnSave > .uteMBtn-text{
        font: @nrgFontWeight-regular @nrgFontSize-large @nrgFontFamily;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l > table > tbody > tr > td > .nrgDashboard-cusDataBpInfo-chb{
        margin-left: 20px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l > table > tbody > tr > td > .nrgDashboard-cusDataBpInfo-chb-lbl{
        margin-left: 10px;
    }

    & > .nrgDashboard-cusDataBpInfo-infoLine .nrgDashboard-cusDataBpInfo-l > table > tbody > tr > td > .nrgDashboard-cusDataBpInfo-chb-lbl > .uteMLbl-text{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

}
