.nrgDashboard-Tools{
    height: 275px;

    & > .nrgDashboard-Tools-Title{
        font-size: @nrgFontSize-base;
        text-align: center;
        font-weight: @nrgFontWeight-bold;
        padding-bottom: 10px
    }

    & > .nrgDashboard-Tools-ctnt{
        padding-top: 5px;
        text-align: center;
    }

    & > .nrgDashboard-Tools-ctnt > .nrgDashboard-Tools-ctnt-btn{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
