.nrgDashboard-cusDataBillingInfo{
    height: 398px;
    padding: 17px 25px 18px 25px !important;

    font-family: @nrgFontFamily;

    & > .nrgDashboard-cusDataBil-scrnTitle{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBil-r-btn{

    }

    & > .nrgDashboard-cusDataBil-r-btn > .nrgDashboard-cusDataBil-CommBtn{
        float: right;
        background-color: white;
        width: 200px;
        height: 30px;
        text-align: center;
    }

    & > .nrgDashboard-cusDataBil-r-btn > .nrgDashboard-cusDataBil-CommBtn > .nrgDashboard-cusDataBil-PayBalBtn-text{
        font: @nrgFontWeight-regular @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-blue-link;
    }

    /*CSS for layouts*/
    & > .nrgDashboard-cusDataBil-layout{
        padding: 0;
        margin: 0;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l{
        border-right: @nrgColor-grey-light;
        border-right-style: dashed;
        border-right-width: thin;
        padding: 0;
        margin: 0;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div{
        padding:0;
        margin:0;
        height: 346px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > .nrgDashboard-cusDataBil-PayBalBtn{
        height: 86px;
        width: 215px;
        border-style: solid;
        border-width: 1px;
        border-color: #5092CD;
        margin-top: 17px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > .nrgDashboard-cusDataBil-PayBalBtn > .nrgDashboard-cusDataBil-PayBalBtn-amount{
        font: @nrgFontWeight-semiBold @nrgFontSize-veryJumbo @nrgFontFamily;
        color: @nrgColor-grey-dark;
        text-align: center;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > .nrgDashboard-cusDataBil-PayBalBtn > .nrgDashboard-cusDataBil-PayBalBtn-text{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-blue-link;
        text-align: center;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > .nrgDashboard-cusDataBil-invoice-lbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 28px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > span > .nrgDashboard-cusDataBil-invoice-id{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-blue-link;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > span > .nrgDashboard-cusDataBil-Icon{
        font: @nrgFontWeight-bold @nrgFontSize-jumbo @nrgFontFamily;
        color: @nrgColor-grey-semiDark;
        text-align: center;
        vertical-align: middle;
        margin-left: 20px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > div >.nrgDashboard-cusDataBil-referer-lbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 18px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > div > .nrgDashboard-cusDataBil-referer-dropdown{
        width: 100px;
        margin-left: 10px;
        border: none;
        background-color: transparent;
        -webkit-appearance: button;
        -moz-appearance: button;
        background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right center;
     }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > .nrgDashboard-cusDataBil-date{
        background-color: @nrgColor-bluePearl;
        border-radius: 2px;
        width: 214px;
        height: 130px;
        margin-top: 12px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > .nrgDashboard-cusDataBil-date > .nrgDashboard-cusDataBil-date-label{
        font: @nrgFontWeight-regular @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-inactive;
        text-align: center;
        padding-top: 20px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-l > .nrgDashboard-cusDataBil-l-div > .nrgDashboard-cusDataBil-date > .nrgDashboard-cusDataBil-date-value{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
        text-align: center;
        margin-top: 5px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m{
        border-right: @nrgColor-grey-light;
        border-right-style: dashed;
        border-right-width: thin;
        padding: 0;
        margin: 0;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div{
        padding:0;
        margin: 0 22px;
        height: 346px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-text-amntexpln{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-text-current{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-light;
        margin-top: 24px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix{
        padding: 0;
        margin: 24px 0 0 0;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > table > tbody > tr{
        margin-top: 11px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > table > tbody > tr td{
        padding: 0;
        margin:0;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > table > tbody > tr > td > .nrgDashboard-cusDataBil-r-content-lbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 12px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > table > tbody > tr > td > .nrgDashboard-cusDataBil-r-content-cnt{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-left: 18px;
        margin-top: 12px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > table > tbody > tr > td > .nrgDashboard-cusDataBil-r-content-lbl2{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 12px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > table > tbody > tr > td > .nrgDashboard-cusDataBil-r-content-cnt2{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-red-alert;
        margin-left: 18px;
        margin-top: 12px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > .nrgDashboard-cusDataBil-horDvi{
        border-color: @nrgColor-grey-light;
        border-style: dashed;
        margin: 0;
        margin-top: 4px;
    }

//    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix .nrgDashboard-cusDataBil-r-content-arrange-status{
//        padding: 0;
//        margin: 0;
//    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > table > tbody > tr > td  .nrgDashboard-cusDataBil-r-content-cnt-icon{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-orangeAttention;
        margin-top: 12px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > table > tbody > tr > td  .nrgDashboard-cusDataBil-r-content-cnt-dpp{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-blue-link;
        margin-left: 18px;
        margin-top: 12px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > .nrgDashboard-cusDataBil-horDvi-long{
        padding: 0;
        margin-top: 80px;
        border-color: @nrgColor-grey-light;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > .nrgDashboard-cusDataBil-btm-label1{
        font: @nrgFontWeight-regular @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > .nrgDashboard-cusDataBil-btm-value{
        margin-left: 10px;
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-m > .nrgDashboard-cusDataBil-m-div > .nrgDashboard-cusDataBil-m-matrix > .nrgDashboard-cusDataBil-btm-label2{
        font: @nrgFontWeight-regular @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-left: 38px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r{
        padding: 0;
        margin: 0;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r > .nrgDashboard-cusDataBil-r-div{
        padding:0;
        margin: 0 22px;
        height: 346px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r > .nrgDashboard-cusDataBil-r-div > .nrgDashboard-cusDataBil-r-text-disconnect{
        font: @nrgFontWeight-bold @nrgFontSize-small @nrgFontFamily;
        color: @nrgColor-grey-light;
        padding-top: 42px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r > .nrgDashboard-cusDataBil-r-div > table > tbody > tr td{
        padding: 0;
        margin:0;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r > .nrgDashboard-cusDataBil-r-div > table > tbody > tr > td > .nrgDashboard-cusDataBil-r-content-lbl1{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 36px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r > .nrgDashboard-cusDataBil-r-div > table > tbody > tr > td > .nrgDashboard-cusDataBil-r-content-cnt1{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-left: 18px;
        margin-top: 36px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r > .nrgDashboard-cusDataBil-r-div > table > tbody > tr > td > .nrgDashboard-cusDataBil-r-content-lbl{
        font: @nrgFontWeight-regular @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-top: 10px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r > .nrgDashboard-cusDataBil-r-div > table > tbody > tr > td > .nrgDashboard-cusDataBil-r-content-cnt{
        font: @nrgFontWeight-bold @nrgFontSize-base @nrgFontFamily;
        color: @nrgColor-grey-dark;
        margin-left: 18px;
        margin-top: 10px;
    }

    & > .nrgDashboard-cusDataBil-layout > tbody > tr > .nrgDashboard-cusDataBil-r > .nrgDashboard-cusDataBil-r-div > .nrgDashboard-cusDataBil-horDvi{
        border-color: @nrgColor-grey-light;
        border-style: dashed;
        margin: 0;
        margin-top: 4px;
    }
}
