.nrgDashboard-cusSerOdr {
    padding-left: 25px !important;

    & > .nrgDashboard-cusSerOdr-title{
        height: 55px;
        font-weight: @nrgFontWeight-bold;
        font-size: @nrgFontSize-large;
    }

    & > .nrgDashboard-cusSerOdr-ctnt{
    }

    & > .nrgDashboard-cusSerOdr-ctnt > .nrgDashboard-cusSerOdr-lftArea{
        display: inline-block;
        border-right: 1px solid @nrgColor-grey-dark;
        width: 161px;
        height: 508px;
    }

    & > .nrgDashboard-cusSerOdr-ctnt > .nrgDashboard-cusSerOdr-lftArea > .nrgDashboard-cusSerOdr-lftArea-tab{
        margin-bottom: 16px;
    }

    & > .nrgDashboard-cusSerOdr-ctnt > .nrgDashboard-cusSerOdr-lftArea > .nrgDashboard-cusSerOdr-lftArea-tab > span{
        padding: 0;
    }

    & > .nrgDashboard-cusSerOdr-ctnt > .nrgDashboard-cusSerOdr-lftArea > .nrgDashboard-cusSerOdr-lftArea-tab > span > div{
        padding: 0;
        font-size: @nrgFontSize-base;
        font-weight: @nrgFontWeight-semiBold;
        color: @nrgColor-grey-inactive;
    }

    & > .nrgDashboard-cusSerOdr-ctnt > .nrgDashboard-cusSerOdr-rgtArea{
        display: inline-block;
        margin-left: 40px;
    }
}
