.uteMDd {
    display: inline-block;
    position: relative;
}

.uteMDd .uteMDd-hdr {
    display: inline-block;
    position: relative;
}

.uteMDd .uteMDd-hdr .uteMDd-hdrContent {
    display: inline-block;
    position: relative;
}

.uteMDd .uteMDd-hdr .uteMDd-hdrExpander {
    display: inline-block;
    position: relative;
}

.uteMDd-picker {
    display: none;
	position: absolute;
}

.uteMDd.uteMDd-active .uteMDd-picker {
    display: block;
}

/*
** Design default
*/
.uteMDd-design-default .uteMDd-hdr {
    border-radius: 4px;
    border: 1px solid @uteColor-grey-dark;
    margin-bottom: 4px;
}

.uteMDd-design-default .uteMDd-hdr .uteMDd-hdrContent {
    padding: 5px;
}

.uteMDd-design-default .uteMDd-hdr .uteMDd-hdrExpander {
    padding: 5px 10px;
}

.uteMDd-design-default .uteMDd-hdr .uteMDd-hdrExpander::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid @uteColor-grey-dark;
    border-top: none;
    border-left: none;
    transform: translate(-6px, -6px) rotate(45deg);
}

.uteMDd-design-default.uteMDd-active .uteMDd-hdr .uteMDd-hdrExpander::before {
    border: 1px solid @uteColor-grey-dark;
    border-bottom: none;
    border-right: none;
    transform: translate(-6px, -2px) rotate(45deg);
}

.uteMDd-design-default .uteMDd-picker {
    background-color: @uteColor-white;
    border-radius: 4px;
    border: 1px solid @uteColor-grey-dark;
}

.uteMDd-design-default .uteMDd-picker .uteMDdItem[data-selected=selected] {
    color: tomato;
}

