.uteMDd {
    display: inline-block;
    position: relative;
}

.uteMDd .uteMDd-hdr {
    display: inline-block;
    position: relative;
}

.uteMDd .uteMDd-hdr .uteMDd-hdrContent {
    display: inline-block;
    position: relative;
}

.uteMDd .uteMDd-hdr .uteMDd-hdrExpander {
    display: inline-block;
    position: relative;
}

.uteMDd-picker {
    display: none;
	position: absolute;
}

.uteMDd-picker.uteMDd-picker-active {
    display: block;
}

/*
** Design default
*/
.uteMDd-design-default .uteMDd-hdr {
    border-radius: 4px;
    border: 1px solid @uteColor-grey-dark;
    margin-bottom: 4px;
}

.uteMDd-design-default .uteMDd-hdr .uteMDd-hdrContent {
    padding-right: 5px;
}

.uteMDd-design-default .uteMDd-picker {
    background-color: @uteColor-white;
    border-radius: 4px;
    border: 1px solid @uteColor-grey-dark;
}

.uteMDd-hdrExpanderDesign-default .uteMChkBox-chk {
    width: 20px;
    height: 15px;
    cursor: pointer;
}

.uteMDd-hdrExpanderDesign-default .uteMChkBox-intChk + .uteMChkBox-chk::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 11px;
    background-color: @uteColor-grey-dark;
    transform: translate(13px, 4px) rotate(45deg);
}

.uteMDd-hdrExpanderDesign-default .uteMChkBox-intChk + .uteMChkBox-chk::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 11px;
    background-color: @uteColor-grey-dark;
    transform: translate(5px, 4px) rotate(-45deg);
}

.uteMDd-hdrExpanderDesign-default .uteMChkBox-intChk:checked + .uteMChkBox-chk::before {
    transform: translate(13px, 4px) rotate(-45deg);
}

.uteMDd-hdrExpanderDesign-default .uteMChkBox-intChk:checked + .uteMChkBox-chk::after {
    transform: translate(5px, 4px) rotate(45deg);
}
