.uteMTab {
    display: inline-block;
    position: relative;
}

.uteMTab-content {
    display: inline-block;
    position: relative;
}

/*
** Design default
*/
.uteMTab-design-default .uteMTab-content {
    background-color: @uteColor-blue-link;
    border-radius: 6px;
    padding: 2px 0;
}

.uteMTab-design-default .uteMTab-content .uteMTab-contentItem {
    margin: 0 4px;
}

/*
** Design invert
*/
.uteMTab-design-invert .uteMTab-content {
    background-color: @uteColor-blue-pearl;
    border-radius: 6px;
    padding: 2px 6px;
}

.uteMTab-design-invert .uteMTab-content .uteMTab-contentItem {
    margin: 0 4px;
}
