.uteMTabPanelItem {
    display: inline-block;
    position: relative;
}

.uteMTabPanelItem-hidden {
    display: none;
}

/*
** Design default
*/
.uteMTabPanelItem .uteMTabPanelItem-design-default {

}

