.nrgDashboard-cusDataVerify{


    & > .nrgDashboard-cusDataVerify-layout{
        padding: 0;
        margin: 0;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l{
        padding-right: 32px;
        border-right: @nrgColor-grey-lighter;
        border-right-style: dashed;
        border-right-width: thin;
    }

    & > .nrgDashboard-cusDataVerify-layout > tbody > tr > .nrgDashboard-cusDataVerify-l > div{
        background-color: @nrgColor-blue-lightPale;
    }

    & > .nrgDashboard-cusDataVerify-m{
    }

    & > .nrgDashboard-cusDataVerify-r{
    }

}
