.uteApp {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: @uteApp-minWidth;

    & .uteApp-hdr {
        display: block;
        position: relative;
        width: 100%;
        min-width: @uteApp-minWidth;
    }

    & .uteApp-body {
        display: block;
        position: relative;
        height: ~"calc(100% - 76px)";
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    & .uteApp-ftr {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
}
