.uteAppBody {
    display: block;
    position: relative;
    width: 100%;

    & > .uteAppBody-wrap {
        margin: 0 auto;
        width: @uteApp-minWidth;
    }

    & > .uteAppBody-inner {
        position: relative;

        & .uteAppBody-banner {
            font-size: @uteFontSize-jumbo;
            font-weight: @uteFontWeight-bold;
            color: @uteColor-blue-header;
            padding: 20px 40px 19px 40px; /* 67px 40px 19px 40px */
        }
    }
}
