.uteAppBodyCnt {
    display: block;
    position: relative;

    & .uteAppBodyCnt-general {
        display: inline-block;
        position: relative;
    }

    & .uteAppBodyCnt-summary {
        display: inline-block;
        position: relative;
    }

    & .uteAppBodyCnt-tool {
        display: inline-block;
        position: relative;
    }

    &.uteAppBodyCnt-layout-default {

    }

    &.uteAppBodyCnt-layout-fullWidthTool {

    }
}
