.uteAppBody {
    display: block;
    position: relative;
    width: 100%;

    & > .uteAppBody-wrap {
        margin: 0 auto;
        max-width: 1440px;
        min-width: 800px;
        padding: 0 40px;
    }

    & > .uteAppBody-inner {
        height: 70px;
    }
}
