.uteAppFtrNotifItem {
    position: relative;
    display: block;
    padding: 10px 0;

    &.uteAppFtrNotifItem-link:hover {
        cursor: pointer;
    }

    & .uteAppFtrNotifItem-icon {
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        font-size: @uteFontSize-largest;
    }

    & .uteAppFtrNotifItem-text {
        display: block;
        padding-left: 40px;
    }
}

.uteAppFtrNotifItem-design-information {
    & .uteAppFtrNotifItem-icon {
        color: @uteColor-grey-light;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-icon {
        color: @uteColor-blue-link;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-icon:hover {
        color: @uteColor-blue-light;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-text {
        color: @uteColor-blue-link;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-text:hover {
        color: @uteColor-blue-light;
    }
}

.uteAppFtrNotifItem-design-error {
    & .uteAppFtrNotifItem-icon {
        color: red;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-icon {
        color: @uteColor-blue-link;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-icon:hover {
        color: @uteColor-blue-light;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-text {
        color: @uteColor-blue-link;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-text:hover {
        color: @uteColor-blue-light;
    }
}

.uteAppFtrNotifItem-design-warning {
    & .uteAppFtrNotifItem-icon {
        color: gold;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-icon {
        color: @uteColor-blue-link;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-icon:hover {
        color: @uteColor-blue-light;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-text {
        color: @uteColor-blue-link;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-text:hover {
        color: @uteColor-blue-light;
    }
}

.uteAppFtrNotifItem-design-success {
    & .uteAppFtrNotifItem-icon {
        color: lightgreen;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-icon {
        color: @uteColor-blue-link;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-icon:hover {
        color: @uteColor-blue-light;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-text {
        color: @uteColor-blue-link;
    }

    &.uteAppFtrNotifItem-link .uteAppFtrNotifItem-text:hover {
        color: @uteColor-blue-light;
    }
}
