.uteAppHdr {
    display: block;
    position: relative;
    width: 100%;
    background-color: @uteColor-white;
    border-bottom: 6px solid @uteColor-blue-link;

    & > .uteAppHdr-wrap {
        margin: 0 auto;
        width: @uteApp-minWidth;
        padding: 0 40px;
    }

    & > .uteAppHdr-inner {
        height: 70px;

        .uteAppHdr-banner {
            display: inline-block;
            position: relative;
            font-size: @uteFontSize-largest;
            color: @uteColor-grey-dark;
        }

        .uteAppHdr-menu {
            display: inline-block;
            position: relative;
            height: 100%;
        }
    }
}
