.uteAppIdxGrpLink {
    display: inline-block;
    position: relative;

    & .uteAppIdxGrpLink-hdr {
        position: relative;

        & .uteAppIdxGrpLink-hdrTitle {
            display: inline-block;
        }
    }

    & .uteAppIdxGrpLink-linkCont {
        display: block;
    }
}
