.uteAppMsg {

    & .uteAppMsg-icon {

    }

    & .uteAppMsg-text {

    }

}

.uteAppMsg-design-error {
    .uteAppMsg-icon {
        color: @uteColor-red-alert;
    }

    .uteAppMsg-text {
        color: @uteColor-red-alert;
    }
}

.uteAppMsg-design-information {
    .uteAppMsg-icon {
        color: @uteColor-grey-light;
    }

    .uteAppMsg-text {
        color: @uteColor-grey-light;
    }
}

.uteAppMsg-design-success {
    .uteAppMsg-icon {
        color: @uteColor-green-highlight;
    }

    .uteAppMsg-text {
        color: @uteColor-green-highlight;
    }
}

.uteAppMsg-design-warning {
    .uteAppMsg-icon {
        color: @uteColor-orange-attention;
    }

    .uteAppMsg-text {
        color: @uteColor-orange-attention;
    }
}
