.uteUiUtil-hidden {
    display: none;
}

.uteUiUtil-invisible {
    visibility: hidden;
}

.uteUiUtil-clearfix:before {
    display: table;
    content: '';
}

.uteUiUtil-clearfix:after {
    display: table;
    clear: both;
    content: '';
}
