.nrgAppFtrDetails {
    width: 100%;
    height: 280px;

    & .nrgAppFtrDetails-nav {
        display: block;
        position: relative;
        height: 19px;

        & .nrgAppFtrDetails-caret {
            display: inline-block;
            position: relative;
            border-top-left-radius: 4px;
            width: 80px;
            height: 19px;
            background-color: @nrgColor-white;
            cursor: pointer;
        }

        & .nrgAppFtrDetails-caret::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border: 1px solid @nrgColor-blue-link;
            border-bottom: none;
            border-right: none;
            transform: translate(35px, 2px) rotate(-135deg);
        }
    }

    & .nrgAppFtrDetails-content {
        width: 100%;
        height: 295px;
        background-color: @nrgColor-white;

        & .uteAppHdrSMenu-wrap {
            display: flex;

            & .nrgAppFtrDetails-notification {
                width: 600px;
                height: 260px;
                padding-right: 15px;
                border-right: 1px solid @nrgColor-grey-light;

                & .nrgAppFtrDetails-notification-title {
                    color: @nrgColor-blueLink;
                    font-weight: @nrgFontWeight-semiBold;
                }

                & .nrgAppFtrDetails-notification-content {
                    margin-top: 10px;
                    font-size: @nrgFontSize-small;
                }
            }

            & .nrgAppFtrDetails-rhs {
                width: 270px;
                height: 260px;
                padding-left: 15px;
                padding-right: 15px;
                border-right: 1px solid @nrgColor-grey-light;

                & .nrgAppFtrDetails-rhs-title {
                    color: @nrgColor-blueLink;
                    font-weight: @nrgFontWeight-semiBold;
                }

                & .nrgAppFtrDetails-rhs-content {
                    margin-top: 10px;
                    font-size: @nrgFontSize-small;
                
                    & .nrgAppFtrDetails-rhs-item {
                        width: 239px;
                        padding: 17px 0;
                        border-bottom: 1px dashed @nrgColor-grey-dark;

                        & .nrgAppFtrDetails-rhs-itemTitle {
                            display: inline-block;
                            color: @nrgColor-blueLink;
                            width: 55px;
                        }
                        
                        & .nrgAppFtrDetails-rhs-itemContent {
                            display: inline-block;
                        }
                    }
                }
            }

            & .nrgAppFtrDetails-eligibleOffers {
                width: 270px;
                height: 260px;
                padding-left: 15px;

                & .nrgAppFtrDetails-eligibleOffers-title {
                    color: @nrgColor-blueLink;
                    font-weight: @nrgFontWeight-semiBold;
                }

                & .nrgAppFtrDetails-eligibleOffers-content {
                    margin-top: 10px;
                    font-size: @nrgFontSize-small;

                    & .nrgAppFtrDetails-eligibleOffers-item {
                        width: 239px;
                        padding: 17px 0;
                        border-bottom: 1px dashed @nrgColor-grey-dark;

                        & .nrgAppFtrDetails-eligibleOffers-itemTitle {
                            display: inline-block;
                            color: @nrgColor-blueLink;
                            width: 55px;
                        }

                        & .nrgAppFtrDetails-eligibleOffers-itemContent {
                            display: inline-block;
                        }
                    }

                }
            }

            & .nrgAppFtrDetails-campaignButton {
                width: 201px;
                height: 260px;
                padding-left: 15px;
                padding-right: 15px;
                border-right: 1px solid @nrgColor-grey-light;
                display: flex;
                align-items: center;

                & .nrgAppFtrDetails-campaignButton-item {
                    background-color: @nrgColor-grey-highlight;
                    width: 170px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column; 

                    & .nrgAppFtrDetails-campaignButton-itemTitle {
                        color: @nrgColor-darkGrey;
                        font-size: @nrgFontSize-small;
                        font-weight: @nrgFontWeight-semiBold;
                        margin-bottom: 5px;
                    }

                    & .nrgAppFtrDetails-campaignButton-itemText {
                        color: @nrgColor-red-pale;
                        font-size: @nrgFontSize-larger;
                        font-weight: @nrgFontWeight-bold;
                    }   
                }
            }
        }
    }
}