.uteInfoLine {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  min-height: 0;
  width: 100%;
  color: #4d4d4d;
  background-color: #f9fcff;
  padding: 1em;
}
.uteInfoLineItemTitle {
  display: block;
  cursor: pointer;
  font: 600 16pt 'Source Sans Pro', sans-serif;
}
.uteInfoLineItemContent {
  position: relative;
  overflow: hidden;
  opacity: 1;
  margin-top: 1.5em;
  z-index: 2;
  transform: translate(0, 0);
  transition: all 0.25s ease-in-out;
}
.uteInfoLine ul {
  list-style: none;
}
.uteInfoLine ul li {
  position: relative;
  animation-delay: 1s;
  animation: uteInfoLineflipdown 0.5s ease both;
}
.uteInfoLine ul li i {
  float: right;
  transform: translate(-6px, 0);
  padding-top: 0.2em;
}
.uteInfoLine ul li i::before,
.uteInfoLine ul li i::after {
  content: '';
  position: absolute;
  background-color: #5092ce;
  width: 2px;
  height: 10px;
  transition: all 0.25s ease-in-out;
}
.uteInfoLine ul li i::before {
  transform: translate(-3px, 0) rotate(45deg);
}
.uteInfoLine ul li i::after {
  transform: translate(3px, 0) rotate(-45deg);
}
.uteInfoLine ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.uteInfoLine ul li input[type=checkbox]:checked ~ div.uteInfoLineItemContent {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.uteInfoLine ul li input[type=checkbox]:checked ~ i::before {
  transform: translate(-3px, 0) rotate(135deg);
}
.uteInfoLine ul li input[type=checkbox]:checked ~ i::after {
  transform: translate(3px, 0) rotate(-135deg);
}
@keyframes uteInfoLineflipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
.body {
  margin: 0 ;
  border-radius: 5px;
}
.uteDialog {
  margin: 0em ;
  padding: 0em ;
  background-color: #eaeff4;
  border-radius: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-family: 700 21pt 'Source Sans Pro', sans-serif;
}
.uteDialogHdr {
  margin: 8px;
  height: 50px;
}
.uteDialogHdr > .uteDialogHdrLeft {
  margin-left: 10px ;
}
.uteUiDlgHdrBtn {
  margin-top: 10px ;
  height: 50px;
}
.uteUiDlgHdrSep {
  height: 1px;
  background-color: #808080;
}
.uteUiDlgCont {
  top: 0px ;
  margin: 8px ;
  position: relative;
  background-color: transparent;
  font-family: 400 14pt 'Source Sans Pro', sans-serif;
}
.uteUiDlgFooter {
  right: 10px;
  margin: 8px;
  background-color: transparent;
}
.uteBadge {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  text-align: center;
  cursor: default;
}
.uteBadge.uteBadge-txt {
  color: #ffffff;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
}
.uteBadge .uteBadge-alert {
  background-color: #c0272d;
}
.uteBadge .uteBadge-attention {
  background-color: #f2a814;
}
.uteBadge .uteBadge-regular {
  background-color: #5bc2af;
}
.uteBtn {
  margin: 2px;
  border-radius: 3px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 10pt;
}
.uteBtn.uteBtn-general {
  min-width: 84px;
  min-height: 28px;
}
.uteBtn.uteBtn-general:disabled {
  color: #000000;
  background-color: rgba(234, 239, 244, 0.95);
}
.uteBtn.uteBtn-general:disabled:hover {
  color: #000000;
  background-color: rgba(234, 239, 244, 0.95);
}
.uteBtn.uteBtn-general.uteBtn-general-action {
  color: #ffffff;
  background-color: #5092ce;
}
.uteBtn.uteBtn-general.uteBtn-general-action:hover {
  color: #ffffff;
  background-color: #83bbe5;
}
.uteBtn.uteBtn-general.uteBtn-general-cancel {
  color: #ffffff;
  background-color: #989898;
}
.uteBtn.uteBtn-general.uteBtn-general-cancel:hover {
  color: #ffffff;
  background-color: #83bbe5;
}
.uteBtn.uteBtn-general.uteBtn-general-info {
  color: #ffffff;
  background-color: #5bc2af;
}
.uteBtn.uteBtn-general.uteBtn-general-info:hover {
  color: #ffffff;
  background-color: #83bbe5;
}
.uteBtn.uteBtn-special {
  min-height: 28px;
}
.uteBtn.uteBtn-special.uteBtn-general-nav {
  min-width: 168px;
  color: #83bbe5;
  background-color: #f9fcff;
}
.uteBtn.uteBtn-special.uteBtn-general-nav:hover {
  min-width: 168px;
  color: #ffffff;
  background-color: #83bbe5;
}
.uteBtn.uteBtn-special.uteBtn-general-calculator:hover {
  color: #ffffff;
  background-color: #83bbe5;
}
.uteBtn.uteBtn-special.uteBtn-general-calculator {
  font-size: 14pt;
  width: 50px;
  height: 42px;
  color: #ffffff;
  background-color: #eaeff4;
}
/**

.uteUiBtn3{
    color:@uteColorBlueLink;
    background-color: @uteColorBluePearl ;;
    padding-left: 120px;
    padding-right: 120px;
}

.uteUiBtn3:hover{
    color:@uteColorWhite;
    background-color: @uteColorLightBlue;
}

.uteUiBtn4{
    background-color: transparent;
    outline: initial;
}

.uteUiBtn4Icon{
    fill: @uteColor-blueLink;
}

.uteUiBtn4Icon:hover{
    fill:@uteColor-lightBlue;
}

.uteUiBtnInact{
    background-color: @uteColorBluePearl;
}
.uteUiBtnInact:hover{
    background-color: @uteColorBluePearl;
}
**/
.uteToggleBtn1 {
  margin: 10px ;
  padding-top: 1px ;
  padding-bottom: 1px ;
  padding-right: 1px ;
  background-color: #ffffff;
  border-radius: 8px;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  box-sizing: border-box;
}
.uteToggleBtn1 > .uteToggleBtn1-leftBtn {
  height: 22px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  padding: 5px;
  background-color: transparent;
  border-radius: 8px;
  border: 0 ;
  outline: none;
  color: #5092ce;
}
.uteToggleBtn1 > .uteToggleBtn1-rightBtn {
  height: 22px;
  margin-left: 1px;
  margin-top: 1px;
  margin-right: 1px ;
  margin-bottom: 1px;
  padding: 5px;
  background-color: transparent;
  border-radius: 8px;
  border: 0 ;
  outline: none;
  color: #5092ce;
}
.uteToggleBtn1 > .uteToggleBtn1-leftBtn-selected {
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  padding: 5px;
  background-color: #5092ce;
  border-radius: 8px;
  border: 0 ;
  outline: none;
  color: #ffffff;
}
.uteToggleBtn1 > .uteToggleBtn1-rightBtn-selected {
  margin-left: 1px;
  margin-top: 1px;
  margin-right: 1px ;
  margin-bottom: 1px;
  padding: 5px;
  background-color: #5092ce;
  border-radius: 8px;
  border: 0 ;
  outline: none;
  color: #ffffff;
}
.uteToggleBtn2 {
  margin: 10px ;
  padding-top: 1px ;
  padding-bottom: 1px ;
  padding-right: 1px ;
  background-color: #5092ce;
  border-radius: 18px;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  box-sizing: border-box;
}
.uteToggleBtn2 > .uteToggleBtn2-leftBtn {
  height: 22px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  padding: 5px;
  background-color: transparent;
  border-radius: 18px;
  border: 0 ;
  outline: none;
  color: #ffffff;
}
.uteToggleBtn2 > .uteToggleBtn2-rightBtn {
  height: 22px;
  margin-left: 1px;
  margin-top: 1px;
  margin-right: 1px ;
  margin-bottom: 1px;
  padding: 5px;
  background-color: transparent;
  border-radius: 18px;
  border: 0 ;
  outline: none;
  color: #ffffff;
}
.uteToggleBtn2 > .uteToggleBtn2-leftBtn-selected {
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  padding: 5px;
  background-color: #eaeff4;
  border-radius: 18px;
  border: 0 ;
  outline: none;
  color: #000000;
}
.uteToggleBtn2 > .uteToggleBtn2-rightBtn-selected {
  margin-left: 1px;
  margin-top: 1px;
  margin-right: 1px ;
  margin-bottom: 1px;
  padding: 5px;
  background-color: #eaeff4;
  border-radius: 18px;
  border: 0 ;
  outline: none;
  color: #000000;
}
.uteTextfield {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  margin: 2px;
  min-width: 160px;
  min-height: 28px;
  padding-right: 6px;
}
.uteTextfield > .uteTextfield-regular {
  text-indent: 12px;
  min-height: 30px;
  background-color: #eaeff4;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #989898;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
}
.uteTextfield > .uteTextfield-regular:focus {
  background-color: #f9fcff;
  outline: none;
}
.uteTextfield > .uteTextfield-underlined-label {
  position: relative;
  top: 10px;
  margin-right: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  font-weight: 400;
}
.uteTextfield > .uteTextfield-underlined-input {
  line-height: 25px;
  padding: 0px;
  text-indent: 6px ;
  border-color: #989898;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  position: relative;
  top: 2px;
  background-color: transparent;
  outline: none;
}
.uteChkBox {
  position: relative;
  margin: 2px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
}
.uteChkBox > .uteChkBox-input {
  display: none;
}
.uteChkBox > .uteChkBox-input + label {
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #5092ce;
}
.uteChkBox > .uteChkBox-input:checked + label {
  box-sizing: border-box;
  background-color: #5092ce;
}
.uteChkBox > .uteChkBox-input:checked + label::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 5.5px;
  width: 9px;
  height: 16px;
  border: 2px solid #ffffff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
.uteChkBox .uteChkBox-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  position: relative;
  bottom: 6px;
  margin: 2px;
  padding: 2px;
}
.uteRadioBtn {
  position: relative;
  margin: 2px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
}
.uteRadioBtn > .uteRadioBtn-regular {
  box-sizing: border-box;
  display: none;
}
.uteRadioBtn > .uteRadioBtn-regular:checked + label {
  box-sizing: border-box;
  border: 7px solid #5092ce;
}
.uteRadioBtn > .uteRadioBtn-regular + label {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px ;
  height: 20px ;
  width: 20px ;
  border-radius: 10px;
  border: 2px solid #5092ce;
}
.uteRadioBtn > .uteRadioBtn-regular + label + text {
  position: relative;
  left: 3px;
  bottom: 4px;
}
.uteRadioBtn > .uteRadioBtn-solid {
  box-sizing: border-box;
  display: none;
}
.uteRadioBtn > .uteRadioBtn-solid:checked + label {
  box-sizing: border-box;
  background-color: #5092ce;
  border: 2px solid #989898;
}
.uteRadioBtn > .uteRadioBtn-solid + label {
  position: relative;
  bottom: 3px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px ;
  height: 12px ;
  width: 12px ;
  border-radius: 5px;
  border: 2px solid #989898;
}
.uteRadioBtn > .uteRadioBtn-solid + label + text {
  position: relative;
  left: 3px;
  bottom: 4px;
}
.uteRedCrossSign {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 4px;
}
.uteRedCrossSign::after,
.uteRedCrossSign::before {
  position: absolute;
  top: 9px;
  left: 0px;
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: red;
}
.uteRedCrossSign::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.uteRedCrossSign::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.uteHDiv {
  display: block;
  width: 100%;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  border-color: #4d4d4d;
}
.uteHDiv.uteHDiv-design-dotted {
  border-style: dotted;
}
.uteHDiv.uteHDiv-design-solid {
  border-style: solid;
}
.uteHDiv.uteHDiv-height-small {
  margin-top: 1px;
  margin-bottom: 1px;
}
.uteHDiv.uteHDiv-height-medium {
  margin-top: 6px;
  margin-bottom: 6px;
}
.uteHDiv.uteHDiv-height-large {
  margin-top: 13px;
  margin-bottom: 13px;
}
.uteHDiv.uteHDiv-height-none {
  margin-top: 0;
  margin-bottom: 0;
}
.uteHDiv.uteHDiv-size-small {
  border-width: 1px 0 0 0;
}
.uteHDiv.uteHDiv-size-medium {
  border-width: 2px 0 0 0;
}
.uteHDiv.uteHDiv-size-large {
  border-width: 2px 0 0 0;
}
.uteCal {
  outline: none;
  padding: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  width: 340px;
  height: 220px;
  background-color: #ffffff;
}
.uteCal > .uteCal-hd {
  width: 100%;
  height: 20px;
  text-align: center;
}
.uteCal > .uteCal-hd > .uteCal-hd-btnMonth {
  width: 30%;
}
.uteCal > .uteCal-hd > .uteCal-hd-btnYear {
  width: 18%;
  text-align: left;
}
.uteCal > .uteCal-hd > .uteCal-hd-btnPrev,
.uteCal .uteCal-hd-btnNext,
.uteCal .uteCal-hd-btnMonth,
.uteCal .uteCal-hd-btnYear {
  background-color: transparent;
  border: none;
  color: #4d4d4d;
  cursor: pointer;
  height: 18px;
  font-size: 10pt;
  font-weight: 600;
  outline: 0px;
}
.uteCal > .uteCal-dayPic {
  outline: 0px;
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-day {
  font-size: 10pt;
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  color: #989898;
  border: 2px solid transparent;
  float: left;
  cursor: default;
  text-align: center;
  margin-right: 10px;
  margin-top: 1px;
  box-sizing: border-box;
  width: 10.5%;
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-day > :not(span),
.uteCal > .uteCal-dayPic > .uteCal-dayPic-day :before,
.uteCal > .uteCal-dayPic > .uteCal-dayPic-day :after {
  box-sizing: inherit;
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-day:focus,
.uteCal .uteCal-dayPic-day:visited {
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: #5092ce;
  color: #ffffff;
  outline: 0px;
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-daySelected {
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: #5092ce;
  color: #ffffff;
  outline: 0px;
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-day:hover {
  border: 2px solid #5092ce;
  border-radius: 6px;
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-dayWeekend {
  color: #4d4d4d;
  font-weight: 600;
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-dayOtherMonth {
  color: rgba(234, 239, 244, 0.95);
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-dayOtherMonth:focus,
.uteCal :visited {
  border: 2px solid transparent;
  background-color: #ffffff;
  color: rgba(234, 239, 244, 0.95);
  outline: 0px;
}
.uteCal > .uteCal-dayPic > .uteCal-dayPic-dayOtherMonth:hover {
  border: 2px solid transparent;
}
.uteCal > .uteCal-dayPic-week {
  outline: 0px;
}
.uteCal > .uteCal-dayPic-week > .uteCal-dayPic-weekHead {
  float: left;
  cursor: default;
  text-align: center;
  margin-right: 10px;
  margin-top: 1px;
  width: 10.5%;
  font-size: 10pt;
  font-weight: 600;
  color: #989898;
  height: 32px;
  line-height: 30px;
}
.uteCal .UiIcon {
  display: inline-block;
  outline: 0px;
}
.uteCal .UiIcon-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #989898;
}
.uteCal .UiIcon-left {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #989898;
}
.uteTb {
  margin: 10px;
  border-collapse: collapse;
  font-family: 'Source Sans Pro', sans-serif;
  /**Campaign Table ======================================================**/
  /**=====================================================================**/
  /**Invoice Table =======================================================**/
  /**=====================================================================**/
  /**DPP Table ===========================================================**/
  /**=====================================================================**/
  /**DPP Denied===========================================================**/
  /*Only change background color from DPP table*/
  /**=====================================================================**/
  /*

    .uteTable-rowHeader :first-child{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .uteTable-rowHeader :last-child{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: none;
    }

    .uteTable-rowOdd{
        background-color: transparent;
    }

    .uteTable-rowOdd td{
        padding: 10px;
        border-right: 1px solid gray;
    }

    .uteTable-rowOdd :last-child{
        border-right: none;
    }

    .uteTable-rowEven{
        background-color: aqua;
    }

    .uteTable-rowEven td{
        padding: 10px;
        border-right: 1px solid gray;
    }

    .uteTable-rowEven :first-child{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .uteTable-rowEven :last-child{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: none;
    }*/
}
.uteTb > tbody > .uteTb-row-dummyRow > td {
  height: 12px;
}
.uteTb > tbody > .uteTb-column-campaign {
  background-color: #989898;
  line-height: 30px;
}
.uteTb > tbody > .uteTb-row-campaign:nth-child(odd) {
  background-color: #989898;
}
.uteTb > tbody > .uteTb-row-campaign:nth-child(even) {
  background-color: transparent;
  line-height: 30px;
}
.uteTb > tbody > .uteTb-column-campaign :first-child,
.uteTb > tbody > .uteTb-row-campaign :first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: none;
}
.uteTb > tbody > .uteTb-column-campaign :last-child,
.uteTb > tbody > .uteTb-row-campaign :last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}
.uteTb > tbody > .uteTb-column-campaign > th,
.uteTb > tbody > .uteTb-row-campaign > td {
  border-right: 1px solid #989898;
  box-shadow: inset 2px 0px rgba(234, 239, 244, 0.95);
}
.uteTb > tbody > .uteTb-column-campaign *,
.uteTb > tbody > .uteTb-row-campaign * {
  vertical-align: middle;
  text-align: center;
}
.uteTb > tbody > .uteTb-column-invoice {
  border-bottom: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #989898;
  margin-bottom: 6px;
}
.uteTb > tbody > .uteTb-column-invoice > th {
  padding-left: 6px;
  text-align: left;
  background-color: transparent;
  padding-bottom: 12px;
  font-size: 10pt;
  font-weight: 600;
}
.uteTb > tbody > .uteTb-row-invoice {
  font-size: 10pt;
  font-weight: 600;
}
.uteTb > tbody > .uteTb-row-invoice:nth-child(odd) {
  background-color: #f9fcff;
}
.uteTb > tbody > .uteTb-row-invoice:nth-child(even) {
  background-color: transparent;
}
.uteTb > tbody > .uteTb-row-invoice > td > label {
  margin: 6px;
}
.uteTb > tbody > .uteTb-column-dpp {
  background-color: #5092ce;
  line-height: 30px;
}
.uteTb > tbody > .uteTb-column-dpp :first-child,
.uteTb > tbody > .uteTb-row-dpp :first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: none;
}
.uteTb > tbody > .uteTb-column-dpp :last-child,
.uteTb > tbody > .uteTb-row-dpp :last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}
.uteTb > tbody > .uteTb-column-dpp *,
.uteTb > tbody > .uteTb-row-dpp * {
  vertical-align: middle;
  padding-left: 6px;
  text-align: left;
}
.uteTb > tbody > .uteTb-column-dpp > th {
  border-right: 1px solid #989898;
  box-shadow: inset 2px 0px rgba(234, 239, 244, 0.95);
}
.uteTb > tbody > .uteTb-column-dpp > th * {
  color: white;
}
.uteTb > tbody > .uteTb-row-dpp {
  line-height: 30px;
  font-size: 10pt;
  font-weight: 600;
}
.uteTb > tbody > .uteTb-row-dpp > td {
  border-right: 1px solid #989898;
  box-shadow: inset 2px 0px rgba(234, 239, 244, 0.95);
}
.uteTb > tbody > .uteTb-row-dpp:nth-child(odd) {
  background-color: #eaeff4;
}
.uteTb > tbody > .uteTb-row-dpp:nth-child(even) {
  background-color: transparent;
}
.uteTb > tbody > .uteTb-row-dpp-denied:nth-child(odd) {
  background-color: #eaeff4;
}
.uteTb > tbody > .uteTb-row-dpp-denied:nth-child(even) {
  background-color: transparent;
}
.uteDD {
  /* Size and position */
  position: relative;
  margin: 0 auto;
  /* Styles */
  border-radius: 7px;
  box-shadow: 0px 1px 1px grey;
  cursor: pointer;
  outline: none;
  /* Font settings */
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14pt;
}
.uteDD-background-white {
  background: #ffffff;
}
.uteDD-background-grey {
  background: #989898;
}
.uteDD-with-border {
  border: 1px solid #4d4d4d;
}
.uteDD-with-border-bottom {
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #4d4d4d;
  border-radius: 0px;
}
/*Arrow triangle*/
.uteDD-arrow-solid:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
}
.uteDD-arrow-blue:after {
  border-top-color: #5092ce;
  border-right-color: transparent;
  border-bottom-color: #83bbe5;
  border-left-color: transparent;
}
.uteDD-arrow-grey:after {
  border-color: #4d4d4d transparent;
}
.uteDD-arrow-solid.active:after {
  border-width: 0 6px 6px 6px;
}
/*Arrow triangle*/
.uteDD-arrow-hollow:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 160px;
  border: 1px solid #5092ce;
  border-bottom: none;
  border-right: none;
  transform: translate(135px, 8px) rotate(-135deg);
}
.uteDD-arrow-hollow.active:after {
  transform: translate(135px, 8px) rotate(45deg);
}
.uteDD .uteDD-list {
  /* Size & position */
  position: absolute;
  top: 120%;
  /*Main dd box and List item box spacing*/
  left: 0;
  /* Size */
  right: 0;
  /* Size */
  /* Styles */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  /* Hiding */
  opacity: 0;
  pointer-events: none;
  padding: 0px;
}
.uteDD-list-with-border {
  border: 1px solid #4d4d4d;
  border-radius: 7px;
  box-shadow: 0px 1px 1px #989898;
}
.uteDD-list-background-white {
  background: #ffffff;
}
.uteDD .uteDD-list li {
  display: block;
  /*To hide the bullets on items*/
}
.uteDD .uteDD-list li a {
  display: block;
  color: #4d4d4d;
  padding: 10px 20px;
  text-indent: 10px;
}
/* Hover state */
.uteDD .uteDD-list .uteDD-list-hover-blue a:hover {
  background: #83bbe5;
}
/* Hover state */
.uteDD .uteDD-list .uteDD-list-hover-grey a:hover {
  background: #989898;
}
.uteDD .uteDD-list li:first-of-type a {
  border-radius: 5.5px 5.5px 0 0;
}
.uteDD .uteDD-list li:last-of-type a {
  border: none;
  border-radius: 0 0 5.5px 5.5px;
}
.uteDD.active .uteDD-list {
  opacity: 1;
  pointer-events: auto;
}
.uteDD-value {
  text-decoration: none;
}
.uteTextfield > .uteDatePicIcon {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #989898;
  outline: 0px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 20px;
}
.uteTextfield > .uteDatePicIcon:after {
  border-color: #4d4d4d transparent;
}
